<div class="viewContent">

  <div class="fuctionContent">
    <form class="filtrarContent" [formGroup]="filterRepEntrada" class="filtrarContent">

      <mat-form-field appearance="fill">
        <mat-label>Filtrar</mat-label>
        <input matInput formControlName="filter" (input)="dataFilter()">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>&nbsp;

      <!-- <mat-form-field>
        <mat-label>Rango de fecha</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Fecha Inicial">
          <input matEndDate formControlName="end" placeholder="Fecha Final">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error> 
      </mat-form-field> 
    -->

    </form>

    <span style="display: flex; ">
      <button class="btnImprimir" mat-stroked-button (click)="exportExcel()"><mat-icon class="printIcon">description</mat-icon></button>&nbsp;

      <button class="btnImprimir" mat-stroked-button printSectionId="reportesEntradaProducto" [useExistingCss]="true" ngxPrint><mat-icon class="printIcon">print</mat-icon></button>
    </span>
  </div>

  <div id="reportesEntradaProducto">

  <h1>Reportes de entradas por producto</h1>

    <table >
      <thead class="headerTable">
        <tr class="headerRow">
          <th class="headerCell">Fecha</th>
          <th class="headerCell">Producto</th>
          <th class="headerCell">No. Entrada</th>
          <th class="headerCell">Marca</th>
          <th class="headerCell">Modelo</th>
          <th class="headerCell">Serial</th>
          <th class="headerCell">Condicion</th>
          <th class="headerCell">Cantidad</th>
          <th class="headerCell">Precio</th>
          <th class="headerCell">subTotal</th>
        </tr>
      </thead>
      <tbody>
        <tr class="dataRow" *ngFor="let entradas of dataFiltered">
          <td class="dataCell">{{entradas.entrada.fechaCreacion | date: 'dd/MM/yyyy'}}</td>
          <td class="dataCell">{{entradas.producto.nombre}}</td>
          <td class="dataCell">{{entradas.entrada.idEntrada}}</td>
          <td class="dataCell">{{entradas.marca}}</td>
          <td class="dataCell">{{entradas.modelo}}</td>
          <td class="dataCell">{{entradas.serial}}</td>
          <td class="dataCell">{{entradas.condicion}}</td>
          <td class="dataCell">{{entradas.cantidad}}</td>
          <td class="dataCell">{{entradas.precio | currency: '': 'symbol': '1.2-2'}}</td>
          <td class="dataCell">{{entradas.subTotal | currency: '': 'symbol': '1.2-2'}}</td>
        </tr>
      </tbody>

    </table>
  </div>

  <div class="loadingRow" *ngIf="loading">
    <div class="loader"></div>
  </div>

  <div class="noDataRow" *ngIf="dataFiltered.length == 0 && loading == false;">
    <h1 class="msNoData"> No se encontraron datos para mostrar <mat-icon class="noDataIcon">info_outline</mat-icon></h1>
  </div>

  <div class="pagination">
    <button class="btnPag" (click)="previousPage()"> <mat-icon>keyboard_arrow_left</mat-icon> </button>
    <div style="display: grid; place-items: center;">{{pagina}} / {{noPage}}</div>
    <button class="btnPag" (click)="nextPage()"> <mat-icon>keyboard_arrow_right</mat-icon></button>
  </div>

</div>
