<div class="modal">
  <h1 class="modal-title" mat-dialog-title> Editar tipo de salida </h1>
  <mat-dialog-content class="modal-content">
    <div [formGroup]="formEditTipoSalida" class="formInfo">

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput required formControlName="nombre">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill" class="descripcion">
        <mat-label>Descripción</mat-label>
        <input matInput required formControlName="descripcion">
      </mat-form-field>&nbsp;
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="form-actions">
    <button mat-raised-button>Cancelar</button>
    <button mat-raised-button class="btnSend" (click)="editData()"><mat-icon>send</mat-icon>Enviar</button>
  </mat-dialog-actions>
</div>
