<div class="viewContent">

  <div class="fuctionContent">
    <button mat-raised-button class="btnNavigate" [routerLink]="['/almacen/usuarios']">Crear nuevo usuario</button>

    <div [formGroup]="filterUser">
      <mat-form-field appearance="fill">
        <mat-label>Filtrar</mat-label>
        <input matInput formControlName="filter" (input)="dataFilter()">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <div >

<table>
  <thead class="headerTable">
    <tr class="headerRow">
      <th class="headerCell">Rol</th>
      <th class="headerCell">Recinto</th>
      <th class="headerCell">Cedula</th>
      <th class="headerCell">Correo</th>
      <th class="headerCell">Nombre</th>
      <th class="headerCell">Apellido</th>
      <th class="headerCell">Cargo</th>
      <th class="headerCell">Telefono</th>
      <th class="headerCell">EXT</th>
      <th class="headerCell">Celular</th>
      <th class="headerCell">Creado por</th>
      <th class="headerCell">Supervisor</th>
      <th class="fuctionCell"></th>
      <th class="fuctionCell"></th>
    </tr>
  </thead>
  <tbody>
    <tr class="dataRow" *ngFor="let item of dataFiltered">
      <td class="dataCell">{{item.role.descripcion}}</td>
      <td class="dataCell">{{item.recinto.nombre}}</td>
      <td class="dataCell">{{item.cedula}}</td>
      <td class="dataCell">{{item.correo}}</td>
      <td class="dataCell">{{item.nombre}}</td>
      <td class="dataCell">{{item.apellido}}</td>
      <td class="dataCell">{{item.cargo}}</td>
      <td class="dataCell">{{item.telefono}}</td>
      <td class="dataCell">{{item.ext}}</td>
      <td class="dataCell">{{item.celular}}</td>
      <td class="dataCell">{{item.creadoPor}}</td>
      <td class="dataCell">Ramon Baltazar</td>
      <td class="dataCell"> <button class="fucEdit" (click)="openModal(item)"><mat-icon>edit</mat-icon></button></td>
      <td class="dataCell"> <button class="fucRem" (click)="removeAlert(item.idUsuario)"><mat-icon>delete</mat-icon></button></td>
    </tr>
  </tbody>

</table>
<div class="pagination">
  <button class="btnPag" (click)="previousPage()"> <mat-icon>keyboard_arrow_left</mat-icon> </button>
  <div style="display: grid; place-items: center;">{{pagina}}/{{noPage}}</div>
  <button class="btnPag" (click)="nextPage()"> <mat-icon>keyboard_arrow_right</mat-icon></button>
</div>

  </div>

</div>
