.tipoSalidaContent{
  display: grid;
  grid-template-rows: 9vh auto;
  padding: 16px ;
}

.fuctionContent{
  display: flex;
  justify-content: space-between;
}

.fuctions{
  text-align: center;
}

.btnNavigate{
  background-color: #C7D1EA;
}

.btnDelete{
  color: red;
}

mat-paginator{
  border-top: 1px solid #ccc;
}

.rowTable:nth-child(even) {
  background-color: rgb(250, 250, 250);
}

.rowTable:nth-child(even):hover {
  background-color: rgb(250, 250, 250);
}

.headTable{
  background-color: #C7D1EA;
}
