<div class="viewContent">
  <div class="fuctionContent">
    <h1 class="title" mat-dialog-title> Crear un nuevo usuario</h1>
    <button mat-stroked-button class="btnNavigate"
      [routerLink]="['/almacen/administrar-usuarios']"><mat-icon>arrow_back</mat-icon>Volver</button>
  </div>

  <div class="form">
    <form [formGroup]="formUser" class="formInfo">

      <h2>Informacion de usuario</h2>

      <mat-form-field hideRequiredMarker>
        <mat-label>Rol</mat-label>
        <input matInput [matAutocomplete]="rol" appearance="fill" formControlName="idRol">
        <mat-autocomplete #rol='matAutocomplete'>

          <mat-option *ngFor="let roles of rolesList" [value]="roles.descripcion">
            {{roles.descripcion}}
          </mat-option>

        </mat-autocomplete>
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker>
        <mat-label>Recinto</mat-label>
        <input matInput [matAutocomplete]="rec" appearance="fill" formControlName="idRecinto">
        <mat-autocomplete #rec='matAutocomplete'>

          <mat-option *ngFor="let recinto of recintoList" [value]="recinto.nombre">
            {{recinto.nombre}}
          </mat-option>

        </mat-autocomplete>
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker>
        <mat-label>Nombre</mat-label>
        <input matInput required appearance="fill" formControlName="nombre">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker >
        <mat-label>Apellido</mat-label>
        <input matInput required appearance="fill" formControlName="apellido">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker >
        <mat-label>Cargo</mat-label>
        <input matInput required appearance="fill" formControlName="cargo">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker>
        <mat-label>Supervisor Inmediato</mat-label>
        <input matInput [matAutocomplete]="sup" appearance="fill" formControlName="supervisorInmediato" (keydown.enter)="findSupInmediatoByName()">
        <mat-autocomplete #sup='matAutocomplete'>

          <mat-option *ngFor="let supInmediato of supInmediatoList" [value]="supInmediato.nombre + ' ' + supInmediato.apellido" >
            {{supInmediato.nombre}} {{supInmediato.apellido}} <br>
            <span class="emailSupInmediato">{{supInmediato.correo}}</span>
          </mat-option>

        </mat-autocomplete>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Correo</mat-label>
        <input type="email" matInput required formControlName="correo">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Constraseña</mat-label>
        <input matInput [type]="seePass" required formControlName="contrasena">
        <mat-icon matSuffix (click)="seePassword()">visibility</mat-icon>
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Cedula</mat-label>
        <input matInput required formControlName="cedula">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Telefono</mat-label>
        <input matInput required formControlName="telefono">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Extención</mat-label>
        <input matInput required formControlName="ext">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Celular</mat-label>
        <input matInput required formControlName="celular">
      </mat-form-field>&nbsp;

      <span class="btnContainer">
        <button mat-stroked-button class="btnSend" (click)="sendData()"><mat-icon>send</mat-icon>Enviar</button>
      </span>

    </form>

  </div>
</div>
