<div class="viewContent">

  <h1>Reportes de salidas por producto</h1>

  <div class="fuctionContent">
    <div class="filtrarContent">

      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput type="search" (keyup)="applyFilter($event)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>&nbsp;

      <!-- <mat-form-field>
        <mat-label>Rango de fecha</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

         <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error> 
      </mat-form-field> -->

    </div>

    <span>
      <button class="btnImprimir" mat-stroked-button printSectionId="reportesProSalidas" [useExistingCss]="true" ngxPrint><mat-icon class="printIcon">print</mat-icon></button>
    </span>
  </div>

  <div>

    <table class="tableReporte">
      <thead class="headerTable">
        <tr class="headerRow">
          <th class="headerCell">Fecha</th>
          <th class="headerCell">Codigo</th>
          <th class="headerCell">Producto</th>
          <th class="headerCell">No. Salida</th>
          <th class="headerCell">Descripcion</th>
          <th class="headerCell">Marca</th>
          <th class="headerCell">Modelo</th>
          <th class="headerCell">Serial</th>
          <th class="headerCell">Condicion</th>
          <th class="headerCell">T.Almacen</th>
          <th class="headerCell">Cantidad</th>
          <th class="headerCell">Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr class="dataRow">
          <td class="dataCell">15/1/2023</td>
          <td class="dataCell">EPH-001</td>
          <td class="dataCell">Azucar</td>
          <td class="dataCell">211478966</td>
          <td class="dataCell">crema</td>
          <td class="dataCell">Lider</td>
          <td class="dataCell">azuCrem</td>
          <td class="dataCell">178776716</td>
          <td class="dataCell">Nuevo</td>
          <td class="dataCell">Cocina</td>
          <td class="dataCell">4</td>
          <td class="dataCell">400</td>
        </tr>
        <tr class="dataRow">
          <td class="dataCell">10/2/2022</td>
          <td class="dataCell">UM-001</td>
          <td class="dataCell">Cafe</td>
          <td class="dataCell">457896332</td>
          <td class="dataCell">arabigo</td>
          <td class="dataCell">Santo Domingo</td>
          <td class="dataCell">cafAra</td>
          <td class="dataCell">122263488</td>
          <td class="dataCell">Nuevo</td>
          <td class="dataCell">Cocina</td>
          <td class="dataCell">5</td>
          <td class="dataCell">5000</td>
        </tr>
        <tr class="dataRow">
          <td class="dataCell">15/4/2021</td>
          <td class="dataCell">FEM-001</td>
          <td class="dataCell">Monitor</td>
          <td class="dataCell">24 Pulgadas</td>
          <td class="dataCell">457896332</td>
          <td class="dataCell">Dell</td>
          <td class="dataCell">Dell24</td>
          <td class="dataCell">114257895</td>
          <td class="dataCell">Usado</td>
          <td class="dataCell">Tecnologia</td>
          <td class="dataCell">2</td>
          <td class="dataCell">2200</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
