<div class="viewContent">

  <h1>Reportes de salidas por producto</h1>

  <div class="fuctionContent">
    <div class="filtrarContent" [formGroup]="filterRepSalida">

      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput type="search" (keyup)="applyFilter()">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>&nbsp;

      <!-- <mat-form-field>
        <mat-label>Rango de fecha</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

         <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error> 
      </mat-form-field> -->

    </div>

    <span>
      <button class="btnImprimir" mat-stroked-button printSectionId="reportesProSalidas" [useExistingCss]="true" ngxPrint><mat-icon class="printIcon">print</mat-icon></button>
    </span>
  </div>

  <div>

    <table class="tableReporte">
      <thead class="headerTable">
        <tr class="headerRow">
          <th class="headerCell">Fecha</th>
          <th class="headerCell">Codigo</th>
          <th class="headerCell">Producto</th>
          <th class="headerCell">No. Salida</th>
          <th class="headerCell">Descripcion</th>
          <th class="headerCell">Marca</th>
          <th class="headerCell">Modelo</th>
          <th class="headerCell">Serial</th>
          <th class="headerCell">Condicion</th>
          <th class="headerCell">Cantidad</th>
          <th class="headerCell">Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr class="dataRow" *ngFor="let salida of dataFiltered">
          <td class="dataCell">{{salida.salida.fechaCreacion | date:"dd/MM/yyyy"}}</td>
          <td class="dataCell">{{salida.producto.codInstitucional}}</td>
          <td class="dataCell">{{salida.producto.nombre}}</td>
          <td class="dataCell">{{salida.salida.idSalida}}</td>
          <td class="dataCell">{{salida.producto.descripcion}}</td>
          <td class="dataCell">{{salida.marca}}</td>
          <td class="dataCell">{{salida.modelo}}</td>
          <td class="dataCell">{{salida.serial}}</td>
          <td class="dataCell">{{salida.condicion}}</td>
          <td class="dataCell">{{salida.cantidad}}</td>
          <td class="dataCell">{{salida.subTotal}}</td>
        </tr>
        
      </tbody>
    </table>

    <div class="loadingRow" *ngIf="loading">
      <div class="loader"></div>
    </div>

    <div class="noDataRow" *ngIf="dataFiltered.length == 0 && loading == false;">
      <h1 class="msNoData"> No se encontraron datos para mostrar <mat-icon class="noDataIcon">info_outline</mat-icon></h1>
    </div>

    <div class="pagination">
      <button class="btnPag" (click)="previousPage()"> <mat-icon>keyboard_arrow_left</mat-icon> </button>
      <div style="display: grid; place-items: center;">{{pagina}} / {{noPage}}</div>
      <button class="btnPag" (click)="nextPage()"> <mat-icon>keyboard_arrow_right</mat-icon></button>
    </div>

  </div>

</div>
