<div class="viewContent">
  <div class="fuctionContent">
    <h1 class="title" mat-dialog-title> Crear una nuevo tipo de medida</h1>
    <button mat-raised-button class="btnNavigate" [routerLink]="['/almacen/administrar-tipo-medida']"><mat-icon>arrow_back</mat-icon>Volver</button>
  </div>

  <div class="form">
    <div [formGroup]="form" class="formInfo">

      <h2>Informacion de tipo de medida</h2>

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Descripcion</mat-label>
        <input matInput required formControlName="descripcion">
      </mat-form-field>&nbsp;

      <span class="btnContainer">
        <button class="btnSend" mat-raised-button (click)="sendData()">
          <mat-icon>send</mat-icon>Enviar
        </button>
      </span>

    </div>
  </div>

</div>
