<div class="viewContent">

  <h1>Reportes de Entradas</h1>

  <div class="fuctionContent">

    <div class="filtrarContent" [formGroup]="filterReporteEntrada">

      <mat-form-field appearance="fill">
        <mat-label>Filtrar</mat-label>
        <input matInput (input)="onInputFilterChange()" formControlName="nombre">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>&nbsp;

      <!-- <mat-form-field appearance="fill">
        <mat-label>Rango de fecha</mat-label>

        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="desde" placeholder="Fecha Inicial" >
          <input matEndDate formControlName="hasta" placeholder="Fecha Final" >
        </mat-date-range-input>

        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

       
      </mat-form-field> -->

    </div>

    <span>
      <button class="btnImprimir" mat-stroked-button printSectionId="reportesEntrada" [useExistingCss]="true" ngxPrint ><mat-icon class="printIcon">print</mat-icon></button>
    </span>
  </div>

  <div id="reportesEntrada">

    <div id="reporteHeader" *ngFor="let entradas of dataFiltered">
      <div class="entradaReporteTitle">
        <h1>
          Numero de Entrada:
          {{entradas.idEntrada}}
        </h1>
      </div>

      <div class="entradaReporteSubtitle">
        <h3> <b class="itemReporte">Fecha:</b> {{entradas.fechaCreacion | date: 'dd/MM/yyyy'}}</h3>
        <h3> <b class="itemReporte">Numero de Factura:</b> {{entradas.noFactura}}</h3>
        <h3> <b class="itemReporte">Numero de Contrato:</b> {{entradas.numOrden}}</h3>
      </div>
      <div class="entradaReporteDetalle">
        <span> <b class="itemReporte">Recinto:</b> {{entradas.recinto.nombre}} </span>
        <span> <b class="itemReporte">Proveedor:</b> {{entradas.proveedor.razonSocial}} </span>
        <span> <b class="itemReporte">Tipo de entrada:</b> {{entradas.tipoEntrada.descripcion}} </span>
        <span> <b class="itemReporte">Tipo de Entrega:</b> {{entradas.tipoEntrega.nombre}} </span>
        <span> <b class="itemReporte">Creado por:</b> {{entradas.creadoPor.nombre}} {{entradas.creadoPor.apellido}} ({{entradas.creadoPor.cargo}})</span>
        <span> <b class="itemReporte">Monto total:</b> {{entradas.total | currency: 'DOP ': 'symbol': '1.2-2'}} </span>
      </div>

      <div class="observacionReporte">
        <b class="itemReporte">Observacion:</b> {{entradas.observacion}}
      </div>

      <div>
        <table>
          <thead class="headerTable">
            <tr class="headerRepRow">
              <th class="headerCell">Producto</th>
              <th class="headerCell">Marca</th>
              <th class="headerCell">Modelo</th>
              <th class="headerCell">Condición</th>
              <th class="headerCell">Unidad De Medida</th>
              <th class="headerCell">Serial</th>
              <th class="headerCell">Precio</th>
              <th class="headerCell">Cantidad</th>
              <th class="headerCell">Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr class="dataRow" *ngFor="let detalles of entradas.detalles">
              <td class="dataCell">{{detalles.producto.nombre}}</td>
              <td class="dataCell">{{detalles.marca}}</td>
              <td class="dataCell">{{detalles.modelo}}</td>
              <td class="dataCell">{{detalles.condicion}}</td>
              <td class="dataCell">{{detalles.producto.idUnidadMe}}</td>
              <td class="dataCell">{{detalles.serial}}</td>
              <td class="dataCell">{{detalles.precio}}</td>
              <td class="dataCell">{{detalles.cantidad}}</td>
              <td class="dataCell">{{detalles.subTotal}}</td>

            </tr>
          </tbody>

        </table>
      </div>

    </div>

  </div>
  <div class="loadingRow" *ngIf="loading">
    <div class="loader"></div>
  </div>  

  <div class="noDataRow" *ngIf="dataFiltered.length == 0 && loading == false;">
    <h1 class="msNoData"> No se encontraron datos para mostrar <mat-icon class="noDataIcon">info_outline</mat-icon></h1>
  </div>

  <div class="pagination">
    <button class="btnPag" (click)="previousPage()"> <mat-icon>keyboard_arrow_left</mat-icon> </button>
    <div style="display: grid; place-items: center;">{{pagina}}/{{noPage}}</div>
    <button class="btnPag" (click)="nextPage()"> <mat-icon>keyboard_arrow_right</mat-icon></button>
  </div>

</div>
