<div class="viewContent">

  <h1>Reportes de Entradas</h1>

  <div class="fuctionContent">
    <div class="filtrarContent">

      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput type="search" (keyup)="applyFilter($event)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>&nbsp;

      <mat-form-field>
        <mat-label>Rango de fecha</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>

    </div>

    <span>
      <button class="btnImprimir" mat-raised-button><mat-icon>print</mat-icon>Imprimir</button>&nbsp;
      <button class="btnExportar" mat-raised-button><mat-icon>save_alt</mat-icon>Exportar</button>
    </span>
  </div>

  <div ><!--*ngFor="let item of info.data"-->
    <!--
    <div *ngFor="let item of item.detalles">
      {{item.producto.nombre}}
    </div>
    -->

    <div class="reporteHeader">
      <span>
        <b class="itemReporte">Fecha:</b> 20/06/2021
      </span>
      <span>
        <b class="itemReporte">Recinto</b>: FEM
      </span>
      <span>
        <b class="itemReporte">Proveedor</b>: Darling De la Rosa
      </span>
      <span>
        <b class="itemReporte">Tipo de Almacen</b> Cocina
      </span>
      <span>
        <b class="itemReporte">Tipo de entrada</b> Adquisicion
      </span>
      <span>
        <b class="itemReporte">Tipo de Entrega</b> En las manos
      </span>
      <span>
        <b class="itemReporte">No. de orden</b> 8554626912
      </span>
      <span>
        <b class="itemReporte">No. de contrato</b> 8557786912
      </span>
      <span>
        <b class="itemReporte">No. Factura</b> 8554969912
      </span>
      <span>
        <b class="itemReporte">Observacion</b> Todo Bien todo correcto
      </span>
      <span>
        <b class="itemReporte">Creado por</b> Juan Perez
      </span>
    </div>

    <!--
    <table mat-table matSort [dataSource]="data" (matSortChange)="announceSortChange($event)">

      <ng-container matColumnDef="idProducto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by idProducto"> idProducto </th>
        <td mat-cell *matCellDef="let element"> {{element.idProducto}} </td>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nombre"> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by descripcion"> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
      </ng-container>

      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by marca"> Marca </th>
        <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
      </ng-container>

      <ng-container matColumnDef="modelo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by modelo"> Modelo </th>
        <td mat-cell *matCellDef="let element"> {{element.modelo}} </td>
      </ng-container>

      <ng-container matColumnDef="serial">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by serial"> Serial</th>
        <td mat-cell *matCellDef="let element"> {{element.serial}} </td>
      </ng-container>

      <ng-container matColumnDef="condicion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by condicion"> Condicion </th>
        <td mat-cell *matCellDef="let element"> {{element.condicion}} </td>
      </ng-container>

      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by precio"> Precio </th>
        <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
      </ng-container>


      <ng-container matColumnDef="stock">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by stock"> stock </th>
        <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
      </ng-container>

      <tr class="headTable" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="rowTable" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    -->

  </div>

</div>
