<div class="appWrapper">

  <mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="sidenavOpened">
      <div class="logoAlmacenContainer">
        <img routerLink="/almacen/inicio" class="logoAlmacen" src="../../../../assets/SIGEBILogoBlancoPeq.png"
          alt="Sistema de gestión de bienes">
      </div>

      <div class="almacenOptions">

        <a class="item-menu" [routerLink]="['/almacen/inicio']" routerLinkActive="active">
          <mat-icon>home</mat-icon>Inicio
        </a>
        <a class="item-menu" [routerLink]="['/almacen/administrar-entrada']"
          routerLinkActive="active"><mat-icon>add_box</mat-icon>Entradas</a>
        <a class="item-menu" [routerLink]="['/almacen/administrar-salida']" routerLinkActive="active">
          <mat-icon>indeterminate_check_box</mat-icon>Salidas
        </a>
        <a class="item-menu" [routerLink]="['/almacen/transferencia']" routerLinkActive="active">
          <mat-icon *ngIf="dataFiltered != 0 ; else noBadge" [matBadge]="dataFiltered"
            matBadgeColor="warn">compare_arrows</mat-icon>
          <ng-template #noBadge> <mat-icon>compare_arrows</mat-icon></ng-template>
          <span class="cdk-visually-hidden"></span>Transferencias</a>

        <a class="item-menu" [routerLink]="['/almacen/administrar-producto']" routerLinkActive="active">
          <mat-icon>category</mat-icon>Productos
        </a>
        <a class="item-menu" [routerLink]="['/almacen/administrar-proveedores']" routerLinkActive="active">
          <mat-icon>local_shipping</mat-icon>Proveeedores
        </a>
        <a class="item-menu" [routerLink]="['/almacen/administrar-usuarios']" routerLinkActive="active">
          <mat-icon>person</mat-icon>Usuarios
        </a>
        <a class="item-menu" (click)="toggleSubmenu()"><mat-icon>summarize</mat-icon>Reportes</a>
        <div class="submenu" *ngIf="submenu else submenuClosed">

          <a class="item-submenu" (click)="toggleSubmenuEntrada()">Entradas</a>
          <div class="menuSubmenu" *ngIf="submenuEntrada">
            <a class="item-submenux" [routerLink]="['/almacen/reporteEntrada']" routerLinkActive="active">Entrada</a>
            <a class="item-submenux" [routerLink]="['/almacen/reporteProductoEntrada']"
              routerLinkActive="active">Entrada / productos</a>
          </div>
          <a class="item-submenu" (click)="toggleSubmenuSalida()">Salidas</a>
          <div class="menuSubmenu" *ngIf="submenuSalida">
            <a class="item-submenux" [routerLink]="['/almacen/reporteSalida']" routerLinkActive="active">Salida</a>
            <a class="item-submenux" [routerLink]="['/almacen/reporteProductoSalida']" routerLinkActive="active">Salida
              / productos</a>
          </div>
          <a class="item-submenu" (click)="toggleSubmenuProductos()">Productos</a>
          <div class="menuSubmenu" *ngIf="submenuProductos">
            <a class="item-submenux" [routerLink]="['/almacen/reporteInventario']"
              routerLinkActive="active">Inventario</a>
            <a class="item-submenux" [routerLink]="['/almacen/reporteStock']" routerLinkActive="active">Escasez</a>
          </div>
          <!--<a class="item-submenu" [routerLink]="['/almacen/reporteTransparencia']" routerLinkActive="active">Transparencia</a>-->
          <a class="item-submenu" [routerLink]="['/almacen/reporteProveedor']" routerLinkActive="active">Proveedor</a>
        </div>
        <ng-template #submenuClosed></ng-template>

        <a class="item-menu" (click)="toggleSubmenuConfig()"><mat-icon>settings</mat-icon>Configuraciones</a>
        <div class="submenu" *ngIf="submenuConfig else submenuClosedConfig">
          <a class="item-submenu" [routerLink]="['/almacen/administrar-tipo-almacen']" routerLinkActive="active">Tipo de
            almacen</a>
          <a class="item-submenu" [routerLink]="['/almacen/administrar-tipo-entrada']" routerLinkActive="active">Tipo de
            entrada</a>
          <a class="item-submenu" [routerLink]="['/almacen/administrar-tipo-medida']" routerLinkActive="active">Unidad
            de medida</a>
          <a class="item-submenu" [routerLink]="['/almacen/administrar-tipo-salida']" routerLinkActive="active">Tipo de
            salida</a>
          <a class="item-submenu" [routerLink]="['/almacen/administrar-tipo-producto']" routerLinkActive="active">Tipo
            de producto</a>
          <a class="item-submenu" [routerLink]="['/almacen/administrar-tipo-entrega']" routerLinkActive="active">Tipo de
            entrega</a>
        </div>
        <ng-template #submenuClosedConfig></ng-template>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="componentsContent">
        <mat-toolbar class="navbar">

          <div class="btnMenuContainer">
            <button class="btnMenu" (click)="sidenavOpened = !sidenavOpened"><mat-icon>menu</mat-icon></button>&nbsp;
            <h2 class="recinto">{{recinto$ | async}}</h2>
          </div>

          <div class="logout">
            <h3 class="userName">{{userName$ | async}} {{userLastName$ | async}}</h3> &nbsp;
            <button class="closeAccount" [matMenuTriggerFor]="menu">
              {{firstLetter | async}}
            </button>
            <mat-menu class="menuPanel" #menu="matMenu">
              <div mat-menu-item class="profile">
                <mat-icon>person</mat-icon>
                <span>{{userName$ | async }} {{userLastName$ | async}}</span>
                <br>
                <span class="email">{{userEmail$ | async }}</span>
              </div>

              <button mat-menu-item (click)="changePassword()">
                <mat-icon>lock</mat-icon>
                <span>Cambiar contraseña</span>
              </button>
              <button mat-menu-item (click)="logOut()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Cerrar sesion</span>
              </button>
            </mat-menu>
          </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>