<div class="ProductContent">

  <div class="fuctionContent">
    <button mat-raised-button color="primary" (click)="openModal()">Crear Nuevo Producto</button> &nbsp;
    <button class="btnImprimir" mat-raised-button>Imprimir</button>
    <button class="btnExportar" mat-raised-button>Exportar</button>
  </div>

  <!--<button mat-raised-button > algo hare </button>-->

  <table mat-table [dataSource]="data" class="mat-elevation-z8">

    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="Descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripcion </th>
      <td mat-cell *matCellDef="let element"> {{element.Descripcion}} </td>
    </ng-container>

    <ng-container matColumnDef="Marca">
      <th mat-header-cell *matHeaderCellDef> Marca </th>
      <td mat-cell *matCellDef="let element"> {{element.Marca}} </td>
    </ng-container>

    <ng-container matColumnDef="Modelo">
      <th mat-header-cell *matHeaderCellDef> Modelo </th>
      <td mat-cell *matCellDef="let element"> {{element.Modelo}} </td>
    </ng-container>

    <ng-container matColumnDef="Serial">
      <th mat-header-cell *matHeaderCellDef> Serial </th>
      <td mat-cell *matCellDef="let element"> {{element.Serial}} </td>
    </ng-container>

    <ng-container matColumnDef="Condicion">
      <th mat-header-cell *matHeaderCellDef> Condicion </th>
      <td mat-cell *matCellDef="let element"> {{element.Condicion}} </td>
    </ng-container>

    <ng-container matColumnDef="Precio">
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let element"> {{element.Precio}} </td>
    </ng-container>

    <ng-container matColumnDef="Stock">
      <th mat-header-cell *matHeaderCellDef> Stock </th>
      <td mat-cell *matCellDef="let element"> {{element.Stock}} </td>
    </ng-container>

    <ng-container matColumnDef="Editar" ><!--Central los botones-->
      <th mat-header-cell *matHeaderCellDef style="padding: 0;"></th>
      <td mat-cell *matCellDef="let element" class="fuctions"> <button mat-raised-button (click)="openModal()">Editar</button> </td>
    </ng-container>

    <ng-container matColumnDef="Eliminar" ><!--Central los botones-->
      <th mat-header-cell *matHeaderCellDef style="padding: 0;"></th>
      <td mat-cell *matCellDef="let element" class="fuctions"> <button mat-raised-button>Eliminar</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>





</div>
