<div class="viewContent">

    <div class="fuctionContent">
        <h1>Transferencias</h1>

        <!-- <div [formGroup]="filterEntrada">
            <mat-form-field appearance="fill">
                <mat-label>Filtrar</mat-label>
                <input matInput formControlName="filter" (input)="onInputFilterChange()">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div> -->
    </div>

    <div>
        <h2>Transcurso</h2>

        <div class="processTranfer">
            <h4>Fecha: 4/09/2023</h4>
            <h4>Transferencia recibida desde JVM</h4>
            <Button class="fucDetails" ><mat-icon>list</mat-icon></Button>
            <button class="fucDetails" mat-mini-fab style="background-color: white;"><mat-icon>done</mat-icon></button>
        </div>

        <div class="processTranfer">
            <h4>Fecha: 11/09/2023</h4>
            <h4>Transferencia recibida desde EPH</h4>
            <Button class="fucDetails"><mat-icon>list</mat-icon></Button>
            <button class="fucDetails" mat-mini-fab style="background-color: white;"><mat-icon>close</mat-icon></button>
        </div>

        <div class="processTranfer">
            <h4>Fecha: 1/09/2023</h4>
            <h4>Transferencia recibida desde UM</h4>
            <Button class="fucDetails"><mat-icon>list</mat-icon></Button>
            <button class="fucDetails" mat-mini-fab style="background-color: white;"><mat-icon>close</mat-icon></button>
        </div>

        <h2>Aceptados</h2>

        <div class="recieveTransfer">
            <h4>Fecha: 11/09/2023</h4>
            <h4>Transferencia enviada a LNNM</h4>
            <span></span>
            <Button class="fucDetails"><mat-icon>list</mat-icon></Button>
        </div>

        <div class="recieveTransfer">
            <h4>Fecha: 11/09/2023</h4>
            <h4>Transferencia enviada a LNNM</h4>
            <span></span>
            <Button class="fucDetails"><mat-icon>list</mat-icon></Button>
        </div>

        <div class="recieveTransfer">
            <h4>Fecha: 11/09/2023</h4>
            <h4>Transferencia enviada a LNNM</h4>
            <span></span>
            <Button class="fucDetails"><mat-icon>list</mat-icon></Button>
        </div>

        <h2>Removidos</h2>
        
        <div class="sendTransfer">
            <h4>Fecha: 11/09/2023</h4>
            <h4>Transferencia enviada a LNNM</h4>
            <span></span>
            <Button class="fucDetails"><mat-icon>list</mat-icon></Button>
        </div>

        <div class="sendTransfer">
            <h4>Fecha: 11/09/2023</h4>
            <h4>Transferencia enviada a LNNM</h4>
            <span></span>
            <Button class="fucDetails"><mat-icon>list</mat-icon></Button>
        </div>
        <!-- <div *ngIf="loading">
            <div class="loader"></div>
        </div>

        <div *ngIf="dataFiltered.length == 0 && loading == false;">
            <h1 class="msNoData"> No se encontraron datos para mostrar <mat-icon
                    class="noDataIcon">info_outline</mat-icon></h1>
        </div> -->

        <!-- <div class="pagination">
            <button class="btnPag" (click)="previousPage()"> <mat-icon>keyboard_arrow_left</mat-icon> </button>
            <div style="display: grid; place-items: center;">{{pagina}} / {{noPage}}</div>
            <button class="btnPag" (click)="nextPage()"> <mat-icon>keyboard_arrow_right</mat-icon></button>
        </div> -->
    </div>
</div>