.fucDetails {
    color: black;
}

.fuctionContent {
    align-items: center;
    background-color: #eee;
    height: 7vh;
    padding: 0px 5px;
}

.viewContent {
    display: grid;
    grid-template-rows: 8vh auto;
    padding: 16px;
}

h2{
    font-weight: 400;
}

.acceptTrans{
    color: #49aa42;
    background-color: white;
}

.removeTrans{
    color: red;
    background-color: white;
}
