<div class="viewContent">

    <div class="fuctionContent">
        <h1>Transferencias</h1>

        <!-- <div [formGroup]="filterEntrada">
            <mat-form-field appearance="fill">
                <mat-label>Filtrar</mat-label>
                <input matInput formControlName="filter" (input)="onInputFilterChange()">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div> -->
    </div>

    <div>
        <div class="recieveTransfer">
            <h4>Fecha: 11/09/2023</h4>
            <h4>Transferencia recibida desde JVM</h4>
            <Button class="fucDetails"><mat-icon>list</mat-icon></Button>
            <button class="acceptTransfer" mat-stroked-button>Aceptar</button>
        </div>

        <div class="recieveTransfer">
            <h4>Fecha: 11/09/2023</h4>
            <h4>Transferencia recibida desde JVM</h4>
            <Button class="fucDetails"><mat-icon>list</mat-icon></Button>
            <h3>Aceptado</h3>
        </div>

        <div class="recieveTransfer">
            <h4>Fecha: 11/09/2023</h4>
            <h4>Transferencia recibida desde JVM</h4>
            <Button class="fucDetails"><mat-icon>list</mat-icon></Button>
            <button class="acceptTransfer" mat-stroked-button>Aceptar</button>
        </div>

        <div class="sendTransfer">
            <h4>Fecha: 11/09/2023</h4>
            <h4>Transferencia enviada a LNNM</h4>
            <Button class="fucDetails"><mat-icon>list</mat-icon></Button>
            <h3>Transcurso</h3>
        </div>

        <div class="sendTransfer">
            <h4>Fecha: 11/09/2023</h4>
            <h4>Transferencia enviada a LNNM</h4>
            <Button class="fucDetails"><mat-icon>list</mat-icon></Button>
            <h3>Aceptado</h3>
        </div>

        <div class="sendTransfer">
            <h4>Fecha: 11/09/2023</h4>
            <h4>Transferencia enviada a LNNM</h4>
            <Button class="fucDetails"><mat-icon>list</mat-icon></Button>
            <h3>Removido</h3>
        </div>
        <!-- <div *ngIf="loading">
            <div class="loader"></div>
        </div>

        <div *ngIf="dataFiltered.length == 0 && loading == false;">
            <h1 class="msNoData"> No se encontraron datos para mostrar <mat-icon
                    class="noDataIcon">info_outline</mat-icon></h1>
        </div> -->

        <!-- <div class="pagination">
            <button class="btnPag" (click)="previousPage()"> <mat-icon>keyboard_arrow_left</mat-icon> </button>
            <div style="display: grid; place-items: center;">{{pagina}} / {{noPage}}</div>
            <button class="btnPag" (click)="nextPage()"> <mat-icon>keyboard_arrow_right</mat-icon></button>
        </div> -->
    </div>
</div>