<div class="viewContent">

    <div class="fuctionContent">
        <h1 class="transferenciaTitle">Transferencias</h1>

        <!-- <div [formGroup]="filterEntrada">
            <mat-form-field appearance="fill">
                <mat-label>Filtrar</mat-label>
                <input matInput formControlName="filter" (input)="onInputFilterChange()">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div> -->
    </div>

    <div style="padding: 10px;">
        <mat-button-toggle-group style="margin-bottom: 10px;" [(ngModel)]="estado">
            <mat-button-toggle value="PENDIENTE">Pendiente de Aprobación</mat-button-toggle>
            <mat-button-toggle value="EN PROCESO">Transcurso</mat-button-toggle>
            <mat-button-toggle value="RECIBIDO">Aceptados</mat-button-toggle>
            <mat-button-toggle value="CANCELADO">Cancelados</mat-button-toggle>
        </mat-button-toggle-group>

        <div *ngIf="estado == 'PENDIENTE'">
            <div class="validationTranfer" *ngFor="let transferencia of dataFilteredPending">

                <!-- <mat-icon style="color: #49aa42;" *ngIf="transferencia.recinto.nombre == recinto; else rigth">west</mat-icon> -->
                <!-- <ng-template #rigth> -->
                <mat-icon style="color:red">east</mat-icon>
                <!-- </ng-template> -->

                <h4><b style="font-weight: 500;">Fecha:</b> {{transferencia.fecha | date: 'dd/MM/yyyy'}}</h4>

                <!-- <h4 *ngIf="transferencia.recinto.nombre == recinto ;else send">
                    Transferencia enviada desde recinto {{transferencia.creadoPor.recinto.nombre}}
                </h4> -->
                <!-- <ng-template #send> -->
                <h4> Transferencia enviada hacia recinto {{transferencia.salida.recinto.nombre}}</h4>
                <!-- </ng-template> -->

                <h4>
                    Solicitud de envio de {{transferencia.creadoPor.nombre}} {{transferencia.creadoPor.apellido}}
                    <!-- ({{transferencia.creadoPor.recinto.nombre}}) -->
                </h4>

                <Button class="fucDetails" (click)="openModal(transferencia.salida)"
                    matTooltip="Listado de detalles de transferencia."><mat-icon>list</mat-icon>
                </Button>

                <button class="acceptTrans" (click)="validarTransferencia(transferencia.id)"
                    matTooltip="Aceptar transferencia."><mat-icon>done</mat-icon></button>

                <button *ngIf="transferencia.estado == 'PENDIENTE'" class="removeTrans"
                    (click)="removeAlert(transferencia.salida.idSalida)"
                    matTooltip="Rechazar transferencia."><mat-icon>close</mat-icon>
                </button>
            </div>

            <div class="noDataRow" *ngIf="dataFilteredPending.length == 0 && loading == false;">
                <h1 class="msNoData"> No hay transferencias pendientes de aprobación <mat-icon
                        class="noDataIcon">info_outline</mat-icon></h1>
            </div>
        </div>
        <div *ngIf="estado == 'EN PROCESO' ">
            <div class="processTranfer" *ngFor="let transferencia of dataFiltered">

                <mat-icon style="color: #49aa42;"
                    *ngIf="transferencia.recinto.nombre == recinto; else rigth">west</mat-icon>
                <ng-template #rigth><mat-icon style="color:red">east</mat-icon></ng-template>

                <h4><b style="font-weight: 500;">Fecha:</b> {{transferencia.fecha | date: 'dd/MM/yyyy'}}</h4>

                <h4 *ngIf="transferencia.recinto.nombre == recinto ;else send">
                    Transferencia enviada desde recinto {{transferencia.creadoPor.recinto.nombre}}
                </h4>

                <ng-template #send>
                    <h4> Transferencia enviada hacia recinto {{transferencia.salida.recinto.nombre}}</h4>
                </ng-template>

                <h4>
                    Enviado por {{transferencia.creadoPor.nombre}} {{transferencia.creadoPor.apellido}}
                    <!-- ({{transferencia.creadoPor.recinto.nombre}}) -->
                </h4>

                <Button class="fucDetails" (click)="openModal(transferencia.salida)"
                    matTooltip="Listado de detalles de transferencia."><mat-icon style="color: white">list</mat-icon></Button>

                <button
                    *ngIf="transferencia.recinto.nombre == recinto && transferencia.estado == 'EN PROCESO'"
                    class="acceptTrans" style="background-color: white; border-radius: 50px;" (click)="aceptarTransferencia(transferencia.id)"
                    matTooltip="Aceptar transferencia."><mat-icon>done</mat-icon>
                </button>

                <!-- <ng-template #recieve>
                    <button *ngIf="transferencia.estado == 'EN PROCESO'" class="removeTrans"
                        (click)="removeAlert(transferencia.salida.idSalida)"
                        matTooltip="Rechazar transferencia."><mat-icon>close</mat-icon></button>
                </ng-template> -->
            </div>

            <div class="noDataRow" *ngIf="dataFiltered.length == 0 && loading == false;">
                <h1 class="msNoData"> No hay nuevas transferencias pendientes <mat-icon
                        class="noDataIcon">info_outline</mat-icon></h1>
            </div>
        </div>

        <div *ngIf="estado == 'RECIBIDO' ">
            <div class="recieveTransfer" *ngFor="let transferenciaAccept of dataFilteredAccept">

                <mat-icon style="color: #49aa42;"
                    *ngIf="transferenciaAccept.recinto.nombre == recinto; else rigth">west</mat-icon>
                <ng-template #rigth><mat-icon style="color:red">east</mat-icon></ng-template>

                <h4><b style="font-weight: 500;">Fecha:</b> {{transferenciaAccept.fecha | date: 'dd/MM/yyyy'}}</h4>

                <h4 *ngIf="transferenciaAccept.recinto.nombre == recinto ;else send">Transferencia enviada desde
                    recinto {{transferenciaAccept.creadoPor.recinto.nombre}}</h4>

                <ng-template #send>
                    <h4> Transferencia enviada al recinto {{transferenciaAccept.recinto.nombre}}</h4>
                </ng-template>

                <h4 *ngIf="transferenciaAccept.recinto.nombre == recinto; else responsable">Aceptada por
                    {{transferenciaAccept.verificadoPor.nombre}} {{transferenciaAccept.verificadoPor.apellido}}
                </h4>

                <ng-template #responsable>
                    <h4></h4>
                </ng-template>
                
                <Button class="fucDetails" (click)="openModal(transferenciaAccept.salida)"
                    matTooltip="Listado de detalles de transferencia."><mat-icon>list</mat-icon></Button>
            </div>

            <div class="noDataRow" *ngIf="dataFilteredAccept.length == 0 && loading == false;">
                <h1 class="msNoData"> No se encontraron datos para mostrar <mat-icon
                        class="noDataIcon">info_outline</mat-icon></h1>
            </div>

        </div>

        <div *ngIf="estado == 'CANCELADO' ">
            <div class="sendTransfer" *ngFor="let transferenciaCancel of dataFilteredCancel">

                <mat-icon style="color: #49aa42;"
                    *ngIf="transferenciaCancel.recinto.nombre == recinto; else rigth">west</mat-icon>
                <ng-template #rigth><mat-icon style="color:red">east</mat-icon></ng-template>

                <h4><b style="font-weight: 500;">Fecha:</b> {{transferenciaCancel.fecha | date: 'dd/MM/yyyy'}}</h4>

                <h4 *ngIf="transferenciaCancel.recinto.nombre == recinto ;else send">Transferencia enviada desde
                    recinto {{transferenciaCancel.salida.recinto.nombre}}</h4>

                <ng-template #send>
                    <h4> Transferencia enviada al recinto {{transferenciaCancel.recinto.nombre}}</h4>
                </ng-template>

                <h4 *ngIf="transferenciaCancel.recinto.nombre == recinto; else responsable">Cancelada por
                    {{transferenciaCancel.verificadoPor.nombre}} {{transferenciaCancel.verificadoPor.apellido}}</h4>

                <ng-template #responsable>
                    <h4></h4>
                </ng-template>

                <Button class="fucDetails" (click)="openModal(transferenciaCancel.salida)"
                    matTooltip="Listado de detalles de transferencia."><mat-icon>list</mat-icon></Button>
            </div>

            <div class="noDataRow" *ngIf="dataFilteredCancel.length == 0 && loading == false;">
                <h1 class="msNoData"> No se encontraron datos para mostrar <mat-icon
                        class="noDataIcon">info_outline</mat-icon></h1>
            </div>
        </div> 

        <div class="loadingRow" *ngIf="loading">
            <div class="loader"></div>
        </div>

        <div class="pagination">
            <button class="btnPag">
                <mat-icon>keyboard_arrow_left</mat-icon>
                <h3 style="margin: 0; font-weight: 300;">Anterior</h3>
            </button>
            <div style="display: grid; place-items: center; margin: 0 10px;">{{pagina}} / {{noPage}} </div>
            <button class="btnPag">
                <h3 style="margin: 0; font-weight: 300;">Siguiente</h3>
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>























    <!-- <div *ngIf="estado == 'PENDIENTE'">
            <div class="validationTranfer" *ngFor="let transferencia of dataFilteredPending">

                <mat-icon style="color: #49aa42;"
                    *ngIf="transferencia.recinto.nombre == recinto; else rigth">west</mat-icon>
                <ng-template #rigth><mat-icon style="color:red">east</mat-icon></ng-template>

                <h4><b style="font-weight: 500;">Fecha:</b> {{transferencia.fecha | date: 'dd/MM/yyyy'}}</h4>

                <h4 *ngIf="transferencia.recinto.nombre == recinto ;else send">
                    Transferencia enviada desde recinto {{transferencia.creadoPor.recinto.nombre}}
                </h4>
                <ng-template #send>
                    <h4> Transferencia enviada hacia recinto {{transferencia.salida.recinto.nombre}}</h4>
                </ng-template>

                <h4>
                    Solicitud de envio de {{transferencia.creadoPor.nombre}} {{transferencia.creadoPor.apellido}}
                    ({{transferencia.creadoPor.recinto.nombre}})
                </h4>

                <Button class="fucDetails" (click)="openModal(transferencia.salida)"
                    matTooltip="Listado de detalles de transferencia."><mat-icon>list</mat-icon>
                </Button>

                <button
                    *ngIf="transferencia.recinto.nombre == recinto && transferencia.estado == 'PENDIENTE'; else recieve"
                    class="acceptTrans" mat-mini-fab (click)="aceptarTransferencia(transferencia.id)"
                    matTooltip="Aceptar transferencia."><mat-icon>done</mat-icon>
                </button>

                <ng-template #recieve>
                    <button *ngIf="transferencia.estado == 'PENDIENTE'" class="removeTrans"
                        (click)="removeAlert(transferencia.salida.idSalida)"
                        matTooltip="Rechazar transferencia."><mat-icon>close</mat-icon>
                    </button>
                </ng-template>
            </div>

            <div class="noDataRow" *ngIf="dataFilteredPending.length == 0 && loading == false;">
                <h1 class="msNoData"> No hay transferencias pendientes de aprobación <mat-icon
                        class="noDataIcon">info_outline</mat-icon></h1>
            </div>
        </div>

        <div *ngIf="estado == 'EN PROCESO' ">
            <div class="processTranfer" *ngFor="let transferencia of dataFiltered">

                <mat-icon style="color: #49aa42;"
                    *ngIf="transferencia.recinto.nombre == recinto; else rigth">west</mat-icon>
                <ng-template #rigth><mat-icon style="color:red">east</mat-icon></ng-template>

                <h4><b style="font-weight: 500;">Fecha:</b> {{transferencia.fecha | date: 'dd/MM/yyyy'}}</h4>

                <h4 *ngIf="transferencia.recinto.nombre == recinto ;else send">
                    Transferencia enviada desde recinto {{transferencia.creadoPor.recinto.nombre}}
                </h4>
                <ng-template #send>
                    <h4> Transferencia enviada hacia recinto {{transferencia.salida.recinto.nombre}}</h4>
                </ng-template>

                <h4>
                    Enviado por {{transferencia.creadoPor.nombre}} {{transferencia.creadoPor.apellido}}
                    ({{transferencia.creadoPor.recinto.nombre}})
                </h4>

                <Button class="fucDetails" (click)="openModal(transferencia.salida)"
                    matTooltip="Listado de detalles de transferencia."><mat-icon>list</mat-icon></Button>

                <button
                    *ngIf="transferencia.recinto.nombre == recinto && transferencia.estado == 'EN PROCESO'; else recieve"
                    class="acceptTrans" mat-mini-fab (click)="aceptarTransferencia(transferencia.id)"
                    matTooltip="Aceptar transferencia."><mat-icon>done</mat-icon></button>

                <ng-template #recieve>
                    <button *ngIf="transferencia.estado == 'EN PROCESO'" class="removeTrans"
                        (click)="removeAlert(transferencia.salida.idSalida)"
                        matTooltip="Rechazar transferencia."><mat-icon>close</mat-icon></button>
                </ng-template>
            </div>

            <div class="noDataRow" *ngIf="dataFiltered.length == 0 && loading == false;">
                <h1 class="msNoData"> No hay nuevas transferencias pendientes <mat-icon
                        class="noDataIcon">info_outline</mat-icon></h1>
            </div>
        </div>
        <div *ngIf="estado == 'RECIBIDO' ">
            <div class="recieveTransfer" *ngFor="let transferenciaAccept of dataFilteredAccept">

                <mat-icon style="color: #49aa42;"
                    *ngIf="transferenciaAccept.recinto.nombre == recinto; else rigth">west</mat-icon>
                <ng-template #rigth><mat-icon style="color:red">east</mat-icon></ng-template>

                <h4><b style="font-weight: 500;">Fecha:</b> {{transferenciaAccept.fecha | date: 'dd/MM/yyyy'}}</h4>

                <h4 *ngIf="transferenciaAccept.recinto.nombre == recinto ;else send">Transferencia enviada desde
                    recinto {{transferenciaAccept.salida.recinto.nombre}}</h4>

                <ng-template #send>
                    <h4> Transferencia enviada al recinto {{transferenciaAccept.recinto.nombre}}</h4>
                </ng-template>

                <h4 *ngIf="transferenciaAccept.recinto.nombre == recinto; else responsable">Aceptada por
                    {{transferenciaAccept.creadoPor.nombre}} {{transferenciaAccept.creadoPor.apellido}}</h4>

                <ng-template #responsable>
                    <h4></h4>
                </ng-template>

                <Button class="fucDetails" (click)="openModal(transferenciaAccept.salida)"
                    matTooltip="Listado de detalles de transferencia."><mat-icon>list</mat-icon></Button>
            </div>

            <div class="noDataRow" *ngIf="dataFilteredAccept.length == 0 && loading == false;">
                <h1 class="msNoData"> No se encontraron datos para mostrar <mat-icon
                        class="noDataIcon">info_outline</mat-icon></h1>
            </div>

        </div>

        <div *ngIf="estado == 'CANCELADO' ">
            <div class="sendTransfer" *ngFor="let transferenciaCancel of dataFilteredCancel">

                <mat-icon style="color: #49aa42;"
                    *ngIf="transferenciaCancel.recinto.nombre == recinto; else rigth">west</mat-icon>
                <ng-template #rigth><mat-icon style="color:red">east</mat-icon></ng-template>

                <h4><b style="font-weight: 500;">Fecha:</b> {{transferenciaCancel.fecha | date: 'dd/MM/yyyy'}}</h4>

                <h4 *ngIf="transferenciaCancel.recinto.nombre == recinto ;else send">Transferencia enviada desde
                    recinto {{transferenciaCancel.salida.recinto.nombre}}</h4>

                <ng-template #send>
                    <h4> Transferencia enviada al recinto {{transferenciaCancel.recinto.nombre}}</h4>
                </ng-template>

                <h4 *ngIf="transferenciaCancel.recinto.nombre == recinto; else responsable">Cancelada por
                    {{transferenciaCancel.creadoPor.nombre}} {{transferenciaCancel.creadoPor.apellido}}</h4>

                <ng-template #responsable>
                    <h4></h4>
                </ng-template>

                <Button class="fucDetails" (click)="openModal(transferenciaCancel.salida)"
                    matTooltip="Listado de detalles de transferencia."><mat-icon>list</mat-icon></Button>
            </div>

            <div class="noDataRow" *ngIf="dataFilteredCancel.length == 0 && loading == false;">
                <h1 class="msNoData"> No se encontraron datos para mostrar <mat-icon
                        class="noDataIcon">info_outline</mat-icon></h1>
            </div>
        </div> -->