.fucDetails {
    color: black;
}

.fuctionContent {
    align-items: center;
    background-color: #eee;
    height: 7vh;
    padding: 0px 5px;
}

.viewContent {
    display: grid;
    grid-template-rows: 8vh auto;
    padding: 16px;
}

h2{
    font-weight: 400;
}

.removeTrans, .acceptTrans{
    color: red;
    border: none;
    margin: 0 5px;
    cursor: pointer;
    background-color: transparent;
}

.acceptTrans{
    color: #49aa42;
    /* border-radius: 50px;
    background-color: white; */
}