  <div class="viewContent">

  <div class="fuctionContent">
    <button *ngIf="idRol == 1; else sup" mat-stroked-button class="btnNavigate" [routerLink]="['/almacen/salida']">Crear nueva salida</button>
    <ng-template #sup>
      <button mat-stroked-button class="btnNavigate" [routerLink]="['/user-almacen/salida']">Crear nueva salida</button>
    </ng-template>

    <div [formGroup]="filterSalida">
      <mat-form-field appearance="fill">
        <mat-label>Filtrar</mat-label>
        <input matInput formControlName="filter" (input)="onInputFilterChange()">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <div>
    <table>
      <thead class="headerTable">
        <tr class="headerRow">
          <th class="headerCell">Fecha</th>
          <th class="headerCell">Recinto</th>
          <th class="headerCell">Num. Salida</th>
          <th class="headerCell">T.Departamento</th>
          <th class="headerCell">T.Salida</th>
          <th class="headerCell">Creado por</th>
          <th class="headerCell">Valor</th>
          <th class="fuctionCell"></th>
          <th class="fuctionCell"></th>
          <th class="fuctionCell"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="dataRow" *ngFor="let item of dataFiltered">
          <td class="dataCell">{{item.fechaCreacion | date:'dd/MM/yyyy'}}</td>
          <td class="dataCell">{{item.recinto.nombre}}</td>
          <td class="dataCell">{{item.idSalida}}</td>
          <td class="dataCell">{{item.departamento.nombre}}</td>
          <td class="dataCell">{{item.tipoSalida.nombre}}</td>
          <td class="dataCell">{{item.creadoPor.nombre}} {{item.creadoPor.apellido}}</td>
          <td class="dataCell">{{item.total | currency: '': 'symbol': '1.2-2'}}</td>
          <td class="dataCell"><button class="fucDetails" (click)="openModal(item.idSalida)"> <mat-icon>list</mat-icon></button></td>
          <td class="dataCell">
            <button *ngIf="idRol == 1; else supp" [routerLink]="['/almacen/editar-salida', item.idSalida]" class="fucEdit"><mat-icon>edit</mat-icon></button></td>
            <ng-template #supp>
              <button [routerLink]="['/user-almacen/editar-salida', item.idSalida]" class="fucEdit"><mat-icon>edit</mat-icon></button>
            </ng-template>
          <td class="dataCell"><button (click)="removeAlert(item.idSalida)" class="fucRem"><mat-icon>delete</mat-icon></button></td>
        </tr>
      </tbody>

    </table>
    <div class="loadingRow" *ngIf="loading">
      <div class="loader"></div>
    </div>

    <div class="noDataRow" *ngIf="dataFiltered.length == 0 && loading == false;">
      <h1 class="msNoData"> No se encontraron datos para mostrar <mat-icon class="noDataIcon">info_outline</mat-icon></h1>
    </div>

    <div class="pagination">
      <button class="btnPag"> <mat-icon>keyboard_arrow_left</mat-icon> </button>
      <div style="display: grid; place-items: center;">{{pagina}}/{{noPage}} </div>
      <button class="btnPag"> <mat-icon>keyboard_arrow_right</mat-icon></button>
    </div>
  </div>

</div>
