<div class="modal">
  <h2 class="modal-title" mat-dialog-title> Editar producto </h2>
  <mat-dialog-content class="modal-content">

    <div [formGroup]="formEditProducto" class="formInfo">

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Codigo de producto</mat-label>
        <input matInput required formControlName="marca" (click)="findByCodeProduct()">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput required formControlName="nombre">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Descripcion</mat-label>
        <input matInput required formControlName="descripcion">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker>
        <mat-label>Unidad de medida</mat-label>
        <input matInput [matAutocomplete]="unitM" appearance="fill" formControlName="idUnidadMe"
          (input)="findTipoMedidaByName()">
        <mat-autocomplete #unitM='matAutocomplete'>

          <mat-option *ngFor="let unidadMedida of unidadMedidaList" [value]="unidadMedida.descripcion">
            {{unidadMedida.descripcion}}
          </mat-option>

        </mat-autocomplete>
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker>
        <mat-label>Tipo de Articulo</mat-label>
        <input matInput [matAutocomplete]="tipoP" appearance="fill" formControlName="idTipoArt"
          (input)="findTipoProductoByName()">
        <mat-autocomplete #tipoP='matAutocomplete'>

          <mat-option *ngFor="let tipoProducto of tipoProductoList" [value]="tipoProducto.nombre">
            {{tipoProducto.nombre}}
          </mat-option>

        </mat-autocomplete>
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Auxiliar</mat-label>
        <input matInput required formControlName="condicion">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Denominación</mat-label>
        <input matInput required formControlName="condicion">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Precio</mat-label>
        <input matInput required formControlName="condicion">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker>
        <mat-label>Cantidad minima requerida</mat-label>
        <input type="number" matInput required formControlName="precio">
      </mat-form-field>&nbsp;

    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="form-actions">
    <button mat-raised-button class="btnCancel" (click)="closeModal()">Cancelar</button>
    <button mat-raised-button class="btnSend" (click)="editData()"><mat-icon>send</mat-icon>Enviar</button>
  </mat-dialog-actions>
</div>
