<div class="viewContent">

  <div class="fuctionContent">
    <div class="filtrarContent">

      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput formControlName="filter" (input)="dataFilter()">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>&nbsp;

      <!-- <mat-form-field>
        <mat-label>Rango de fecha </mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Fecha Inicial">
          <input matEndDate formControlName="end" placeholder="Fecha Final">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error> 
      </mat-form-field> -->

    </div>

    <span>
      <button class="btnImprimir" mat-stroked-button printSectionId="reportesTransparencia" [useExistingCss]="true" ngxPrint><mat-icon class="printIcon">print</mat-icon></button>
    </span>
  </div>

  <div id="reportesExistencia">

  <h1>Reporte de Transparencia</h1>

    <table>
      <thead class="headerTable">
        <tr class="headerRow">
          <th class="headerCell">Fecha de adquisición</th>
          <th class="headerCell">Fecha de registro</th>
          <th class="headerCell">Codigo institucional</th>
          <th class="headerCell">Descripción del bien</th>
          <th class="headerCell">Valor RD$</th>
          <th class="headerCell">Existencia</th>
        </tr>
      </thead>
      <tbody>
        <tr class="dataRow">
          <td class="dataCell">19/6/2012</td>
          <td class="dataCell">19/6/2012</td>
          <td class="dataCell">FEM-001</td>
          <td class="dataCell">Monitor negro, curvo de 24 pulgadas</td>
          <td class="dataCell">7900.99</td>
          <td class="dataCell">3</td>
        </tr>
      </tbody>

    </table>
  </div>

  <div class="loadingRow" *ngIf="loading">
    <div class="loader"></div>
  </div>  

  <div class="noDataRow" *ngIf="dataFiltered.length == 0 && loading == false;">
    <h1 class="msNoData"> No se encontraron datos para mostrar <mat-icon class="noDataIcon">info_outline</mat-icon></h1>
  </div>

  <div class="pagination">
    <button class="btnPag" (click)="previousPage()"> <mat-icon>keyboard_arrow_left</mat-icon> </button>
    <div style="display: grid; place-items: center;">{{pagina}}/{{noPage}}</div>
    <button class="btnPag" (click)="nextPage()"> <mat-icon>keyboard_arrow_right</mat-icon></button>
  </div>

</div>
