<div class="modal">
  <h2 class="modal-title" mat-dialog-title> Editar Usuario </h2>
  <mat-dialog-content class="modal-content">
    <form [formGroup]="formEditUser" class="formInfo">

      <mat-form-field hideRequiredMarker>
        <mat-label>Rol</mat-label>
        <input matInput [matAutocomplete]="rol" appearance="fill" formControlName="idRol">
        <mat-autocomplete #rol='matAutocomplete'>

          <mat-option *ngFor="let roles of rolesList" [value]="roles.descripcion">
            {{roles.descripcion}}
          </mat-option>

        </mat-autocomplete>
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker>
        <mat-label>Recinto</mat-label>
        <input matInput [matAutocomplete]="rec" appearance="fill" formControlName="idRecinto">
        <mat-autocomplete #rec='matAutocomplete'>

          <mat-option *ngFor="let recinto of recintoList" [value]="recinto.nombre">
            {{recinto.nombre}}
          </mat-option>

        </mat-autocomplete>
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput required formControlName="nombre">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Apellido</mat-label>
        <input matInput required formControlName="apellido">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Cargo</mat-label>
        <input matInput required formControlName="cargo">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker>
        <mat-label>Supervisor Inmediato</mat-label>
        <input matInput [matAutocomplete]="sup" appearance="fill" formControlName="supervisorInmediato" (keydown.enter)="findSupInmediatoByName()">
        <mat-autocomplete #sup='matAutocomplete'>

          <mat-option *ngFor="let supInmediato of supInmediatoList" [value]="supInmediato.nombre + ' ' + supInmediato.apellido" >
            {{supInmediato.nombre}} {{supInmediato.apellido}} <br>
            <span class="emailSupInmediato">{{supInmediato.correo}}</span>
          </mat-option>

        </mat-autocomplete>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Correo</mat-label>
        <input matInput required formControlName="correo">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Cedula</mat-label>
        <input matInput required formControlName="cedula">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Telefono</mat-label>
        <input matInput required formControlName="telefono">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Extención</mat-label>
        <input matInput required formControlName="ext">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Celular</mat-label>
        <input type="number" matInput required formControlName="celular">
      </mat-form-field>&nbsp;

    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="form-actions">
    <button mat-stroked-button class="btnCancel" (click)="closeModal()">Cancelar</button>
    <button mat-stroked-button class="btnSend" (click)="editData()"><mat-icon>send</mat-icon>Enviar</button>
  </mat-dialog-actions>
</div>
