<div class="viewContent">
  <div class="fuctionContent">
    <h1 class="title" mat-dialog-title> Crear una nuevo proveedor</h1>
    <button mat-stroked-button class="btnNavigate"
      [routerLink]="['/almacen/administrar-proveedores']"><mat-icon>arrow_back</mat-icon>Volver</button>
  </div>

  <div class="form">
    <form [formGroup]="formProveedor" class="formInfo">

      <h2>Informacion de proveedor</h2>

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>RNC</mat-label>
        <input matInput required formControlName="rnc" (keydown.enter)="findByRNC()">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker>
        <mat-label>Razon social</mat-label>
        <input matInput [matAutocomplete]="auto" appearance="fill" formControlName="razonSocial" (keydown.enter)="findByName()">
        <mat-autocomplete #auto='matAutocomplete' (optionSelected)="setValueFormProveedores($event.option.value)">

          <mat-option *ngFor="let option of filterOptions" [value]="option.razonSocial">
            {{option.razonSocial}}
          </mat-option>

        </mat-autocomplete>
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Nombre comercial</mat-label>
        <input matInput required formControlName="nombreComercial">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Representante</mat-label>
        <input matInput required formControlName="representante">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Contacto del Representante</mat-label>
        <input matInput required formControlName="telRepresentante">
      </mat-form-field>&nbsp;



      <span class="btnContainer">
        <button class="btnSend" mat-stroked-button (click)="sendData()">
          <mat-icon>send</mat-icon>
          Enviar
        </button>
      </span>
    </form>
  </div>

</div>
