<div class="viewContent">

  <div class="fuctionContent">
    <button mat-raised-button class="btnNavigate" [routerLink]="['/almacen/entrada']">Crear nueva entrada</button>

    <div [formGroup]="filterEntrada">
      <mat-form-field appearance="fill" >
        <mat-label>Filtrar</mat-label>
        <input matInput formControlName="filter" (input)="onInputFilterChange($event)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <div>

    <table>
      <thead class="headerTable">
        <tr class="headerRow">
          <th class="headerCell">Fecha</th>
          <th class="headerCell">Recinto</th>
          <th class="headerCell">Num. Entrada</th>
          <th class="headerCell">T.Entrada</th>
          <th class="headerCell">T.Almacen</th>
          <th class="headerCell">T.Entrega</th>
          <th class="headerCell">Num. Contrato</th>
          <th class="headerCell">Num. Factura</th>
          <th class="headerCell">Proveedor</th>
          <th class="headerCell">Monto</th>
          <th class="fuctionCell"></th>
          <th class="fuctionCell"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="dataRow">
          <td class="dataCell">24/06/23</td>
          <td class="dataCell">UM</td>
          <td class="dataCell">788456122</td>
          <td class="dataCell">Adiquisición</td>
          <td class="dataCell">Cocina</td>
          <td class="dataCell">Bien</td>
          <td class="dataCell">288399400</td>
          <td class="dataCell">940003299</td>
          <td class="dataCell">Bravo</td>
          <td class="dataCell">6000</td>
          <td class="dataCell"> <button [routerLink]="['/almacen/editar-entrada']" class="fucEdit"><mat-icon>edit</mat-icon></button></td>
          <td class="dataCell"> <button (click)="removeAlert(6)" class="fucRem"><mat-icon>delete</mat-icon></button></td>
        </tr>
      </tbody>

    </table>
    <div class="pagination">
      <button class="btnPag"> <mat-icon>keyboard_arrow_left</mat-icon> </button>
      <div style="display: grid; place-items: center;">{{pagina}}</div>
      <button class="btnPag"> <mat-icon>keyboard_arrow_right</mat-icon></button>
    </div>
  </div>
</div>
