.administrarTipoSalidaContent{
  display: grid;
  grid-template-rows: 8vh auto;
  padding: 16px;
}

.fuctionContent {
  display: flex;
  justify-content: space-between;
}

.btnNavigate{
  background-color: #C7D1EA;
}

.form{
  text-align: justify;
}

.salidaInfo{
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom:5px;
}

.btnContainer{
  display: flex;
  justify-content: flex-end;
}
.btnSend{
  color:white;
  background-color: #35a6b7;
}
