<div class="modal">
  <h1 class="modal-title" mat-dialog-title>Cambiar contraseña</h1>
  <mat-dialog-content class="modal-content">
    <form [formGroup]="formChangePassword" class="formInfo">

      <mat-form-field hideRequiredMarker appearance="fill" class="descripcion">
        <mat-label>Constraseña actual</mat-label>
        <input [type]="seePass" matInput required formControlName="claveActual">
        <mat-icon matSuffix (click)="seePassword()">visibility</mat-icon>
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill" class="descripcion">
        <mat-label>Nueva Constraseña</mat-label>
        <input [type]="seepassnew" matInput required formControlName="nuevaClave">
        <mat-icon matSuffix (click)="seePasswordNew()">visibility</mat-icon>
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill" class="descripcion">
        <mat-label>Confirmar Nueva Constraseña</mat-label>
        <input [type]="seepassConfirm" matInput required formControlName="confirmarNuevaClave">
        <mat-icon matSuffix (click)="seePasswordConfirm()">visibility</mat-icon>
      </mat-form-field>&nbsp;

    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="form-actions">
    <button mat-stroked-button class="btnCancel" (click)="closeModal()">Cancelar</button>
    <button mat-stroked-button class="btnSend" (click)="editData()"><mat-icon>send</mat-icon>Enviar</button>
  </mat-dialog-actions>
</div>
