<div class="modal">
  <h1 class="modal-title" mat-dialog-title>Cambiar contraseña</h1>
  <mat-dialog-content class="modal-content">
    <div [formGroup]="formChangePassword" class="formInfo">

      <mat-form-field hideRequiredMarker appearance="fill" class="descripcion">
        <mat-label>Constraseña actual</mat-label>
        <input matInput required formControlName="claveActual">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill" class="descripcion">
        <mat-label>Nueva Constraseña</mat-label>
        <input matInput required formControlName="nuevaClave">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill" class="descripcion">
        <mat-label>Confirmar Nueva Constraseña</mat-label>
        <input matInput required formControlName="confirmarNuevaClave">
      </mat-form-field>&nbsp;

    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="form-actions">
    <button mat-raised-button class="btnCancel" (click)="closeModal()">Cancelar</button>
    <button mat-raised-button class="btnSend" (click)="editData()"><mat-icon>send</mat-icon>Enviar</button>
  </mat-dialog-actions>
</div>
