<div class="viewContent">
  <div class="fuctionContent">
    <h1 class="title" mat-dialog-title>Editar entrada</h1>
    <button mat-raised-button class="btnNavigate" [routerLink]="['/almacen/administrar-entrada']"><mat-icon>arrow_back</mat-icon>Volver</button>
  </div>

  <div class="form">
    <div class="formInfo">

      <h2>Informacion de entrada</h2>

      <div class="ITBIS">
        <h4>El ITBIS es general?</h4>
        <mat-radio-group> <!-- (change)="itbisOption($event)"-->
          <mat-radio-button [value]="false" color="primary">Si</mat-radio-button>
          <mat-radio-button [value]="true" color="primary">No</mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-form-field>
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="date">
        <mat-datepicker-toggle [for]="date" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #date></mat-datepicker>
      </mat-form-field> &nbsp;

      <mat-form-field hideRequiredMarker>
        <mat-label>Recinto</mat-label>
        <input matInput [matAutocomplete]="auto" appearance="fill" formControlName="idUnidadMe">
        <mat-autocomplete #auto='matAutocomplete'>
          <!--
        <mat-option *ngFor="let option of options" [value]="[option.id, option.nombre]">
          {{option.nombre}}
        </mat-option>
      -->
        </mat-autocomplete>
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker>
        <mat-label>Proveedor</mat-label>
        <input matInput [matAutocomplete]="auto" appearance="fill" formControlName="idUnidadMe">
        <mat-autocomplete #auto='matAutocomplete'>
          <!--
        <mat-option *ngFor="let option of options" [value]="[option.id, option.nombre]">
          {{option.nombre}}
        </mat-option>
      -->
        </mat-autocomplete>
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>&nbsp;


      <mat-form-field hideRequiredMarker>
        <mat-label>Tipo de Almacen</mat-label>
        <input matInput [matAutocomplete]="auto" appearance="fill" formControlName="idUnidadMe">
        <mat-autocomplete #auto='matAutocomplete'>
          <!--
        <mat-option *ngFor="let option of options" [value]="[option.id, option.nombre]">
          {{option.nombre}}
        </mat-option>
      -->
        </mat-autocomplete>
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker>
        <mat-label>Tipo de Entrada</mat-label>
        <input matInput [matAutocomplete]="auto" appearance="fill" formControlName="idUnidadMe">
        <mat-autocomplete #auto='matAutocomplete'>
          <!--
        <mat-option *ngFor="let option of options" [value]="[option.id, option.nombre]">
          {{option.nombre}}
        </mat-option>
      -->
        </mat-autocomplete>
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker>
        <mat-label>Tipo de Entrega</mat-label>
        <input matInput [matAutocomplete]="auto" appearance="fill" formControlName="idUnidadMe">
        <mat-autocomplete #auto='matAutocomplete'>
          <!--
        <mat-option *ngFor="let option of options" [value]="[option.id, option.nombre]">
          {{option.nombre}}
        </mat-option>
      -->
        </mat-autocomplete>
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Num. De orden</mat-label>
        <input matInput required formControlName="nombre">
      </mat-form-field>&nbsp;

      <mat-form-field class="comment" hideRequiredMarker appearance="fill">
        <mat-label>Observacion</mat-label>
        <input matInput required formControlName="nombre">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill"><!--*ngIf="!generalITBIS; else generalItbis"-->
        <mat-label>ITBIS General</mat-label>
        <input type="number" matInput required formControlName="nombre">
      </mat-form-field>&nbsp;
      <ng-template #generalItbis></ng-template>

    </div>

    <div class="formInfo">

      <div class="fuctionContent newProduct">
        <h2>Informacion de producto</h2>
        <button mat-raised-button class="btnNavigate">Crear nuevo producto</button>
      </div>
      <div>

        <mat-form-field hideRequiredMarker>
          <mat-label>Producto</mat-label>
          <input matInput [matAutocomplete]="auto" appearance="fill" formControlName="idUnidadMe">
          <mat-autocomplete #auto='matAutocomplete'>
            <!--
        <mat-option *ngFor="let option of options" [value]="[option.id, option.nombre]">
          {{option.nombre}}
        </mat-option>
      -->
          </mat-autocomplete>
          <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
        </mat-form-field>&nbsp;

        <mat-form-field hideRequiredMarker appearance="fill">
          <mat-label>Cantidad</mat-label>
          <input type="number" matInput required formControlName="nombre">
        </mat-form-field>&nbsp;

        <mat-form-field hideRequiredMarker appearance="fill">
          <mat-label>Precio</mat-label>
          <input type="number" matInput required formControlName="nombre">
        </mat-form-field>&nbsp;

        <mat-form-field hideRequiredMarker appearance="fill"> <!--*ngIf="generalITBIS; else noGeneralItbis"-->
          <mat-label>ITBIS por articulo</mat-label>
          <input type="number" matInput required formControlName="nombre">
        </mat-form-field>&nbsp;

        <ng-template #noGeneralItbis></ng-template>

        <mat-form-field hideRequiredMarker appearance="fill">
          <mat-label>Subtotal</mat-label>
          <input type="number" readonly matInput required formControlName="nombre">
          <mat-icon matSuffix>$</mat-icon>
        </mat-form-field>&nbsp;
      </div>
      <span class="btnContainer">
        <button mat-raised-button><mat-icon>add</mat-icon>Agregar</button>
      </span>
    </div>

    <div>

      <table>
        <thead class="headerTable">
          <tr class="headerRow">
            <th class="headerCell">Producto</th>
            <th class="headerCell">Cantidad</th>
            <th class="headerCell">Precio</th>
            <th class="headerCell">ITBIS por articulo</th>
            <th class="headerCell">Subtotal</th>
            <th class="fuctionCell"></th>
            <th class="fuctionCell"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="dataRow">
            <td class="dataCell">Jugo</td>
            <td class="dataCell">Mango</td>
            <td class="dataCell">Kawai</td>
            <td class="dataCell">Pera</td>
            <td class="dataCell">Manzana</td>
            <td class="dataCell"> <button class="fucEdit"><mat-icon>edit</mat-icon></button></td>
            <td class="dataCell"> <button class="fucRem"><mat-icon>delete</mat-icon></button></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="footerCell">Total</td>
            <td class="footerCell"></td>
            <td class="footerCell">Resultado</td>
            <td class="footerCell">Resultado ITBIS</td>
            <td class="footerCell"></td>
            <td class="footerCell"></td>
            <td class="footerCell"> <button class="fucSend"><mat-icon>send</mat-icon></button></td>
          </tr>
        </tfoot>
      </table>
    </div>

  </div>
</div>
