.modal{
  width: 1000px;
  height: 430px;
}

.modal-content{
  padding: 0px 16px;
}

.fStep{
  border: solid #ccc 1px;
}

.ITBIS{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  width: 370px;
  padding-left: 5px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

h3 {
  margin: 0;
}

.form{
  height: 280px;
  text-align: justify;
  border: 1px solid #ccc ;
  padding: 3px;
}

.fForm{
  height: 100px;
  border: 1px solid #ccc ;
  padding: 1px;
}

.sForm{
  height: 175px;
  margin-top: 5px;
  padding: 1px;
  text-align: justify;
  border: 1px solid #ccc ;
}

.btnMove{
  background-color: #C7D1EA;
}

.btnContainer{
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}

.btnCon{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.btnSend{
  background-color: #C7D1EA;
}
