<div class="modal">
  <mat-dialog-content class="modal-content">
    <mat-horizontal-stepper linear>
      <mat-step label="Editar entrada">
        <div class="form">

          <div class="ITBIS">
            <h3>El ITBIS es general?</h3>
            <mat-radio-group><!--(change)="itbisOption($event)"-->
              <mat-radio-button [value]="false" color="primary">Si</mat-radio-button>
              <mat-radio-button [value]="true" color="primary">No</mat-radio-button>
            </mat-radio-group>
          </div>

          <mat-form-field>
            <mat-label>Fecha</mat-label>
            <input matInput [matDatepicker]="date">
            <mat-datepicker-toggle [for]="date" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #date></mat-datepicker>
          </mat-form-field> &nbsp;

          <mat-form-field hideRequiredMarker>
            <mat-label>Recinto</mat-label>
            <input matInput [matAutocomplete]="auto" appearance="fill" formControlName="idUnidadMe">
            <mat-autocomplete #auto='matAutocomplete'>
              <!--
          <mat-option *ngFor="let option of options" [value]="[option.id, option.nombre]">
            {{option.nombre}}
          </mat-option>
        -->
            </mat-autocomplete>
            <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
          </mat-form-field>&nbsp;

          <mat-form-field hideRequiredMarker>
            <mat-label>Proveedor</mat-label>
            <input matInput [matAutocomplete]="auto" appearance="fill" formControlName="idUnidadMe">
            <mat-autocomplete #auto='matAutocomplete'>
              <!--
          <mat-option *ngFor="let option of options" [value]="[option.id, option.nombre]">
            {{option.nombre}}
          </mat-option>
        -->
            </mat-autocomplete>
            <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
          </mat-form-field>&nbsp;


          <mat-form-field hideRequiredMarker>
            <mat-label>Tipo de Almacen</mat-label>
            <input matInput [matAutocomplete]="auto" appearance="fill" formControlName="idUnidadMe">
            <mat-autocomplete #auto='matAutocomplete'>
              <!--
          <mat-option *ngFor="let option of options" [value]="[option.id, option.nombre]">
            {{option.nombre}}
          </mat-option>
        -->
            </mat-autocomplete>
            <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
          </mat-form-field>&nbsp;

          <mat-form-field hideRequiredMarker>
            <mat-label>Tipo de Entrada</mat-label>
            <input matInput [matAutocomplete]="auto" appearance="fill" formControlName="idUnidadMe">
            <mat-autocomplete #auto='matAutocomplete'>
              <!--
          <mat-option *ngFor="let option of options" [value]="[option.id, option.nombre]">
            {{option.nombre}}
          </mat-option>
        -->
            </mat-autocomplete>
            <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
          </mat-form-field>&nbsp;

          <mat-form-field hideRequiredMarker>
            <mat-label>Tipo de Entrega</mat-label>
            <input matInput [matAutocomplete]="auto" appearance="fill" formControlName="idUnidadMe">
            <mat-autocomplete #auto='matAutocomplete'>
              <!--
          <mat-option *ngFor="let option of options" [value]="[option.id, option.nombre]">
            {{option.nombre}}
          </mat-option>
        -->
            </mat-autocomplete>
            <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
          </mat-form-field>&nbsp;

          <mat-form-field hideRequiredMarker appearance="fill">
            <mat-label>Num. De orden</mat-label>
            <input matInput required formControlName="nombre">
          </mat-form-field>&nbsp;

          <mat-form-field class="comment" hideRequiredMarker appearance="fill">
            <mat-label>Observacion</mat-label>
            <input matInput required formControlName="nombre">
          </mat-form-field>&nbsp;

          <mat-form-field hideRequiredMarker appearance="fill"> <!--*ngIf="!generalITBIS; else generalItbis"-->
            <mat-label>ITBIS General</mat-label>
            <input type="number" matInput required formControlName="nombre">
          </mat-form-field>&nbsp;
          <ng-template #generalItbis></ng-template>
        </div>
        <span class="btnContainer">
          <button class="btnMove" mat-raised-button matStepperNext>Siguiente</button>
        </span>

      </mat-step>
      <mat-step label="Editar o agregar productos a la entrada">


        <div>
          <div class="fForm">

            <h3>Seleccione producto a editar</h3>
            <mat-form-field hideRequiredMarker>
              <mat-label>Producto</mat-label>
              <input matInput [matAutocomplete]="auto" appearance="fill" formControlName="idUnidadMe">
              <mat-autocomplete #auto='matAutocomplete'>
                <!--
          <mat-option *ngFor="let option of options" [value]="[option.id, option.nombre]">
            {{option.nombre}}
          </mat-option>
        -->
              </mat-autocomplete>
              <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
            </mat-form-field>&nbsp;
          </div>
          <div class="sForm">

            <h3>Agregue informacion al producto</h3>
            <mat-form-field hideRequiredMarker appearance="fill">
              <mat-label>Cantidad</mat-label>
              <input type="number" matInput required formControlName="nombre">
            </mat-form-field>&nbsp;

            <mat-form-field hideRequiredMarker appearance="fill">
              <mat-label>Precio</mat-label>
              <input type="number" matInput required formControlName="nombre">
            </mat-form-field>&nbsp;

            <mat-form-field hideRequiredMarker appearance="fill"><!--*ngIf="generalITBIS; else noGeneralItbis"-->
              <mat-label>ITBIS por articulo</mat-label>
              <input type="number" matInput required formControlName="nombre">
            </mat-form-field>&nbsp;

            <ng-template #noGeneralItbis></ng-template>

            <mat-form-field hideRequiredMarker appearance="fill">
              <mat-label>Subtotal</mat-label>
              <input type="number" readonly matInput required formControlName="nombre">
              <mat-icon matSuffix>$</mat-icon>
            </mat-form-field>&nbsp;
          </div>
        </div>
        <span class="btnCon">
          <button class="btnMove" mat-raised-button matStepperPrevious>Anterior</button>
          <button class="btnSend" mat-raised-button> <mat-icon>send</mat-icon> Enviar </button>
        </span>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-dialog-content>

</div>
