<div class="viewContent">

  <h1>Reportes de Salidas</h1>

  <div class="fuctionContent">
    
    <div class="filtrarContent" [formGroup]="filterReporteEntrada" >

      <mat-form-field appearance="fill">
        <mat-label>Filtrar</mat-label>
        <input matInput (input)="onInputFilterChange()" formControlName="filter">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>&nbsp;

      <mat-form-field appearance="fill">
        <mat-label>Rango de fecha</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Fecha Inicial">
          <input matEndDate formControlName="end" placeholder="Fecha Final">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <!-- <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error> -->
        <!-- <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error> -->
      </mat-form-field>

    </div>

    <span>
      <button class="btnImprimir" mat-raised-button printSectionId="reportesSalidas" [useExistingCss]="true" ngxPrint ><mat-icon>print</mat-icon>Imprimir</button>
    </span>

  </div>

  <div class="reportesSalidas">

    <div class="reporteHeader">
      <span>
        <b class="itemReporte">Fecha:</b> 20/06/2023
      </span>
      <span>
        <b class="itemReporte">Recinto</b>: FEM
      </span>
      <span>
        <b class="itemReporte">Tipo de salida</b>: Asignacion
      </span>
      <span>
        <b class="itemReporte">Tipo de almacen</b> Tecnologia
      </span>
      <span>
        <b class="itemReporte">Tipo de departamento</b> Div. Desarrollo
      </span>
      <span>
        <b class="itemReporte">No. de orden</b> 521447889
      </span>
      <span>
        <b class="itemReporte">Creado por</b> Juan Perez
      </span>
      <span>
        <b class="itemReporte">Observacion</b> Todo Bien todo correcto
      </span>
    </div>

  </div>

</div>
