<div class="viewContent">
  <div class="fuctionContent">
    <h1 class="title" mat-dialog-title>Crear nueva entrada</h1>
    <button *ngIf="idRol == 1 ; else supp" mat-raised-button class="btnNavigate"
      [routerLink]="['/almacen/administrar-entrada']"><mat-icon>arrow_back</mat-icon>Volver</button>
      <ng-template #supp>
        <button mat-raised-button class="btnNavigate"
      [routerLink]="['/user-almacen/administrar-entrada']"><mat-icon>arrow_back</mat-icon>Volver</button>
      </ng-template>
  </div>

  <div class="form">
    <div [formGroup]="formEntrada" class="formInfo">

      <h2>Informacion de entrada</h2>

      <div class="ITBIS">
        <h4>El ITBIS de la factura es general?</h4>
        <mat-radio-group (change)="itbisOption($event)">
          <mat-radio-button [disabled]="disableItbis" [value]="false" [checked]="true" color="primary">Si</mat-radio-button>
          <mat-radio-button [disabled]="disableItbis" [value]="true" color="primary">No</mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-form-field hideRequiredMarker>
        <mat-label>Fecha</mat-label>
        <input matInput required [matDatepicker]="date" appearance="fill" formControlName="fechaFactura">
        <mat-datepicker-toggle [for]="date" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #date></mat-datepicker>
      </mat-form-field> &nbsp;

      <mat-form-field hideRequiredMarker>
        <mat-label>Proveedor</mat-label>
        <input matInput required [matAutocomplete]="pro" appearance="fill" formControlName="idProveedor"
          (input)="findProveedorByName()">
        <mat-autocomplete #pro='matAutocomplete'>

          <mat-option *ngFor="let proveedor of proveedorList" [value]="proveedor.razonSocial">
            {{proveedor.razonSocial}}
          </mat-option>

        </mat-autocomplete>
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker>
        <mat-label>Tipo de Entrada</mat-label>
        <input matInput required [matAutocomplete]="Tetd" appearance="fill" formControlName="idTipoEntrada"
          (input)="findTipoEntradaByName()">
        <mat-autocomplete #Tetd='matAutocomplete'>

          <mat-option *ngFor="let tipoEntrada of tipoEntradaList" [value]="tipoEntrada.nombre">
            {{tipoEntrada.nombre}}
          </mat-option>

        </mat-autocomplete>
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker>
        <mat-label>Tipo de Entrega</mat-label>
        <input matInput required [matAutocomplete]="Tetg" appearance="fill" formControlName="idTipoEntrega"
          (input)="findTipoEntregaByName()">
        <mat-autocomplete #Tetg='matAutocomplete'>

          <mat-option *ngFor="let tipoEntrega of tipoEntregaList" [value]="tipoEntrega.nombre">
            {{tipoEntrega.nombre}}
          </mat-option>

        </mat-autocomplete>
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>No. Contrato</mat-label>
        <input matInput required formControlName="numOrden">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>No. Factura</mat-label>
        <input matInput required formControlName="noFactura">
      </mat-form-field>&nbsp;

      <mat-form-field class="comment" hideRequiredMarker appearance="fill">
        <mat-label>Observacion</mat-label>
        <input matInput required formControlName="observacion">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill" *ngIf="!generalITBIS; else generalItbis">
        <mat-label>ITBIS General</mat-label>
        <input type="number" matInput formControlName="itbisGeneral">
      </mat-form-field>&nbsp;
      <ng-template #generalItbis></ng-template>

    </div>
  </div>
  <div class="form">
  <div [formGroup]="formDetalleEntrada" class="formInfo">

    <div class="fuctionContent newProduct">
      <h2>Informacion de producto</h2>
      <button mat-raised-button (click)="openModal()">Crear nuevo producto</button>
    </div>
    <div>

      <div class="ITBIS">
        <h4>El producto contiene numero serial?</h4>
        <mat-radio-group (change)="serialOption($event)">
          <mat-radio-button [value]="false" color="primary">Si</mat-radio-button>
          <mat-radio-button [value]="true" [checked]="true"  color="primary">No</mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-form-field hideRequiredMarker>
        <mat-label>Producto</mat-label>
        <input matInput [matAutocomplete]="proD" appearance="fill" formControlName="idProducto" (input)="findProductoByName()" >
        <mat-autocomplete #proD='matAutocomplete' (optionSelected)="setValueDetailsEntrada($event.option.value)">

          <mat-option *ngFor="let producto of productoList" [value]="producto.nombre">
            {{producto.nombre}}
          </mat-option>

        </mat-autocomplete>
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>&nbsp;
      
      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Tipo de Almacen</mat-label>
        <input matInput readonly required formControlName="idTipoAlm">
      </mat-form-field>&nbsp;
      
      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Precio</mat-label>
        <input type="number" matInput required formControlName="precio" (input)="subTotalResult()">
      </mat-form-field>&nbsp;
      
      <mat-form-field hideRequiredMarker appearance="fill" *ngIf="generalITBIS; else noGeneralItbis">
        <mat-label>Porcentaje de ITBIS</mat-label>
        <input type="number" readonly matInput formControlName="itbisProducto" (input)="subTotalResult()">
      </mat-form-field>&nbsp;
      <ng-template #noGeneralItbis></ng-template>

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Cantidad</mat-label>
        <input type="number" matInput required formControlName="cantidad" (input)="subTotalResult()">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker>
        <mat-label>Condición</mat-label>
        <mat-select required appearance="fill" formControlName="condicion">
          <mat-option value="Bueno">Bueno</mat-option>
          <mat-option value="Regular">Regular</mat-option>
          <mat-option value="Dañado">Dañado</mat-option>
        </mat-select>
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Marca</mat-label>
        <input matInput required formControlName="marca">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Modelo</mat-label>
        <input matInput required formControlName="modelo">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill" *ngIf="!serial; else noElectronicProduct">
        <mat-label>No. Serial</mat-label>
        <input matInput formControlName="serial">
      </mat-form-field>&nbsp;
      <ng-template #noElectronicProduct></ng-template>

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Subtotal</mat-label>
        <input type="number" readonly matInput formControlName="subTotal">
        <mat-icon matSuffix>$</mat-icon>
      </mat-form-field>&nbsp;
    </div>
    <span class="btnContainer">
      <button mat-raised-button class="btnClear" (click)="clearDetail()"><mat-icon>clear</mat-icon>Limpiar</button>&nbsp;
      <button mat-raised-button class="btnAdd" (click)="addDetail()"><mat-icon>add</mat-icon>Agregar</button>
    </span>
  </div>

  <div>

    <table>
      <thead class="headerTable">
        <tr class="headerRow">
          <th class="headerCell">Producto</th>
          <th class="headerCell">Cantidad</th>
          <th class="headerCell">Condición</th>
          <th class="headerCell">Marca</th>
          <th class="headerCell">Modelo</th>
          <th class="headerCell">Precio</th>
          <th class="headerCell">Serial</th>
          <th class="headerCell">ITBIS</th>
          <th class="headerCell">Subtotal</th>
          <th class="fuctionCell"></th>
          <th class="fuctionCell"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="dataRow" *ngFor="let item of detailGroup; let i = index" (click)="duplicateDetail(item)" >
          <td class="dataCell">{{item.idProducto}}</td>
          <td class="dataCell">{{item.cantidad}}</td>
          <td class="dataCell">{{item.condicion}}</td>
          <td class="dataCell">{{item.marca}}</td>
          <td class="dataCell">{{item.modelo}}</td>
          <td class="dataCell">{{item.precio | currency: '': 'symbol': '1.2-2'}}</td>
          <td class="dataCell">{{item.serial}}</td>
          <td class="dataCell">{{item.itbisProducto | currency: '': 'symbol': '1.2-2'}}</td>
          <td class="dataCell">{{item.subTotal | currency: '': 'symbol': '1.2-2'}}</td>
          <td class="dataCell"><button class="fucEdit" (click)="editDetail(i, item)"><mat-icon>edit</mat-icon></button></td>
          <td class="dataCell"><button class="fucRem" (click)="removeDetail(i, item)"><mat-icon>delete</mat-icon></button></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td class="footerCell">Total</td>
          <td class="footerCell"></td>
          <td class="footerCell"></td>
          <td class="footerCell"></td>
          <td class="footerCell"></td>
          <td class="footerCell"></td>
          <td class="footerCell"></td>
          <td class="footerCell">{{mostrarTotalItbis | currency: 'DOP ': 'symbol': '1.2-2'}}</td>
          <td class="footerCell">{{totalResult | currency: 'DOP ': 'symbol': '1.2-2'}}</td>
          <td class="footerCell"></td>
          <td class="footerCell"> <button class="fucSend" (click)="sendData()"><mat-icon>send</mat-icon></button></td>
        </tr>
      </tfoot>
    </table>
  </div>

</div>
</div>
