.ITBIS{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  width: 370px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.ITBIS h4{
  font-weight: 200;
  margin: 0;
}

table{
  width: 100%;
  border-collapse: collapse;
}

.headerTable{
  height: 8vh;
}

.headerCell{
  text-align: start;
  font-weight: 400;
  padding-left: 15px;
}

.headerRow{
  background-color: #C7D1EA;
}

.dataCell{
  border-top: 1px solid #ccc;
  padding-left: 15px;
}

.dataRow{
  height: 8vh;
}

.fuctionCell{
  width: 60px;
}

.fucEdit, .fucRem{
  padding: 5px 10px;
  border: solid 1px #CCC;
  border-radius: 5px;
  color: green;
}
.fucEdit, .fucRem:hover{
  cursor: pointer;
}

.fucRem{
  color: red;
}
