.ITBIS{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  width: 550px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.ITBIS h4{
  font-weight: 200;
  margin: 0;
}

.newProduct{
  margin-bottom: 10px;
}

.duplicateP:hover {
  background-color: #eee;
}

.formInfo .observacion{
  width: 48.5% !important;
}

.btnSend{
  margin-top:10px;
}