<div class="viewContent">
  <div class="fuctionContent">
    <h1 class="title" mat-dialog-title> Editar salida</h1>
    <button  mat-stroked-button class="btnNavigate"
      [routerLink]="['/almacen/administrar-salida']"><mat-icon>arrow_back</mat-icon>Volver</button> <!--*ngIf="idRol == 1 ; else supp"-->
    <!-- <ng-template #supp>
      <button mat-stroked-button class="btnNavigate"
      [routerLink]="['/user-almacen/administrar-salida']"><mat-icon>arrow_back</mat-icon>Volver</button>
    </ng-template> -->
  </div>

  <div class="form">
    <form [formGroup]="formEditSalida" class="formInfo">

      <h2>Informacion de salidas</h2>

      <mat-form-field hideRequiredMarker>
        <mat-label>Fecha</mat-label>
        <input matInput required [matDatepicker]="date" formControlName="fechaCreacion" appearance="fill">
        <mat-datepicker-toggle [for]="date" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #date></mat-datepicker>
      </mat-form-field> &nbsp;

      <mat-form-field hideRequiredMarker>
        <mat-label>Tipo de Salida</mat-label>
        <input matInput [matAutocomplete]="Tsal" appearance="fill" formControlName="idTipoSalida"
          (input)="findTipoSalidaByName()">
        <mat-autocomplete #Tsal='matAutocomplete' (optionSelected)="setValueTransfer($event.option.value)">

          <mat-option *ngFor="let tipoSalida of tipoSalidaList" [value]="tipoSalida.nombre">
            {{tipoSalida.nombre}}
          </mat-option>

        </mat-autocomplete>
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker class="departamento" *ngIf="!isTransferencia; else tranferencia">
        <mat-label>Tipo de departamento</mat-label>
        <input matInput [matAutocomplete]="auto" appearance="fill" formControlName="idDepar"
          (input)="findTipoDepartamentoByName()">
        <mat-autocomplete #auto='matAutocomplete'>

          <mat-option *ngFor="let tipoDepartamento of tipoDepartamentoList" [value]="tipoDepartamento.nombre">
            {{tipoDepartamento.nombre}}
          </mat-option>

        </mat-autocomplete>
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>&nbsp;

      <ng-template #tranferencia>
        <mat-form-field hideRequiredMarker>
          <mat-label>Recinto</mat-label>
          <input matInput [matAutocomplete]="rec" appearance="fill" formControlName="idRecinto">
          <mat-autocomplete #rec='matAutocomplete'>

            <mat-option *ngFor="let recinto of recintoList" [value]="recinto.nombre">
              <span>{{recinto.nombre}}</span>
            </mat-option>

          </mat-autocomplete>
          <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
        </mat-form-field>&nbsp;
      </ng-template>

      <mat-form-field class="comment" hideRequiredMarker appearance="fill">
        <mat-label>Observacion</mat-label>
        <input matInput required formControlName="observacion">
      </mat-form-field>&nbsp;
    </form>

    <div [formGroup]="formDetalleEditSalida" class="formInfo">

      <span class="infoProductoAlert">
        <h4 style="margin: 0;">Informacion de producto</h4> 
        <button class="questionMark" matTooltip="Los productos que contienen serial deben estar en secuencia(arreglar)" mat-stroked-button><mat-icon matSuffix style="margin-left: 5px;">question_mark</mat-icon></button>
      </span>
      <div>

        <mat-form-field hideRequiredMarker>
          <mat-label>Producto</mat-label>
          <input matInput [matAutocomplete]="pro" appearance="fill" formControlName="idProducto"
            (input)="findProductoByName()">
          <mat-autocomplete #pro='matAutocomplete' (optionSelected)="setValueFormProductoSalida($event.option.value)">

            <mat-option *ngFor="let producto of productoList" [value]="producto.descripcion" [disabled]="producto.stock === 0">
                {{producto.descripcion}}
            </mat-option>

          </mat-autocomplete>
          <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
        </mat-form-field>&nbsp;

        <mat-form-field hideRequiredMarker appearance="fill">
          <mat-label>Existencia restante</mat-label>
          <input type="number" readonly matInput required formControlName="existencia">
        </mat-form-field>&nbsp;

        <mat-form-field hideRequiredMarker appearance="fill">
          <mat-label>Cantidad</mat-label>
          <input type="number" matInput required formControlName="cantidad" (input)="subTotalResult()">
        </mat-form-field>&nbsp;

        <mat-form-field hideRequiredMarker appearance="fill">
          <mat-label>Tipo de Almacen</mat-label>
          <input matInput readonly required formControlName="idTipoAlm">
        </mat-form-field>&nbsp;

        <mat-form-field hideRequiredMarker appearance="fill">
          <mat-label>Condición</mat-label>
          <input readonly required matInput formControlName="condicion">
        </mat-form-field>&nbsp;

        <mat-form-field hideRequiredMarker appearance="fill">
          <mat-label>Marca</mat-label>
          <input readonly matInput required formControlName="marca">
        </mat-form-field>&nbsp;

        <mat-form-field hideRequiredMarker appearance="fill">
          <mat-label>Modelo</mat-label>
          <input readonly matInput required formControlName="modelo">
        </mat-form-field>&nbsp;

        <mat-form-field hideRequiredMarker appearance="fill" *ngIf="isSerial; else serial">
          <mat-label>Serial</mat-label>
          <input readonly matInput formControlName="serial">
        </mat-form-field>&nbsp;
        <ng-template #serial></ng-template>

        <mat-form-field hideRequiredMarker appearance="fill">
          <mat-label>Valor</mat-label>
          <input type="number" matInput required formControlName="precio" (input)="subTotalResult()">
        </mat-form-field>&nbsp;

        <mat-form-field hideRequiredMarker appearance="fill">
          <mat-label>Sub-total</mat-label>
          <input readonly type="number" matInput required formControlName="subTotal">
        </mat-form-field>&nbsp;


        <span class="btnContainer">
          <button mat-stroked-button class="btnClear" (click)="clearDetail()"><mat-icon>clear</mat-icon>Limpiar</button>&nbsp;
          <button mat-stroked-button class="btnAdd" (click)="addDetail()"><mat-icon>add</mat-icon>Agregar</button>
        </span>
      </div>
    </div>

    <div>

      <table>
        <thead class="headerTable">
          <tr class="headerRow">
            <th class="headerCell">Producto</th>
            <th class="headerCell">Cantidad</th>
            <th class="headerCell">Condición</th>
            <th class="headerCell">Marca</th>
            <th class="headerCell">Modelo</th>
            <th class="headerCell">Serial</th>
            <th class="headerCell">Valor</th>
            <th class="headerCell">Monto Total</th>
            <th class="fuctionCell"></th>
            <th class="fuctionCell"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="dataRow" *ngFor="let item of detailGroup; let i = index">
            <td class="dataCell">{{item.idProducto}}</td>
            <td class="dataCell">{{item.cantidad}}</td>
            <td class="dataCell">{{item.condicion}}</td>
            <td class="dataCell">{{item.marca}}</td>
            <td class="dataCell">{{item.modelo}}</td>
            <td class="dataCell">{{item.serial}}</td>
            <td class="dataCell">{{item.precio | currency: '': 'symbol': '1.2-2'}}</td>
            <td class="dataCell">{{item.subTotal | currency: '': 'symbol': '1.2-2'}}</td>
            <td class="dataCell"> <button class="fucEdit" (click)="editDetail(i, item)"><mat-icon>edit</mat-icon></button></td>
            <td class="dataCell"> <button class="fucRem" (click)="removeDetail(i, item)"><mat-icon>delete</mat-icon></button></td>
          </tr>

        </tbody>
        <tfoot>
          <tr>
            <td class="footerCell">Total</td>
            <td class="footerCell"></td>
            <td class="footerCell"></td>
            <td class="footerCell"></td>
            <td class="footerCell"></td>
            <td class="footerCell"></td>
            <td class="footerCell"></td>
            <td class="footerCell">{{ resultSubTotal | currency: '': 'symbol': '1.2-2'}}</td>
            <td class="footerCell"></td>
            <td class="footerCell"> </td>
          </tr>
        </tfoot>
      </table>
      <span class="btnContainer">
        <button class="btnSend" mat-stroked-button (click)="sendData()">
          <mat-icon>send</mat-icon>
          Editar
        </button>
      </span>
    </div>

  </div>
</div>
