<div class="viewContent">
  <div class="fuctionContent">
    <h1 class="title" mat-dialog-title> Crear una nuevo producto</h1>
    <button mat-raised-button class="btnNavigate"
      [routerLink]="['/almacen/administrar-producto']"><mat-icon>arrow_back</mat-icon>Volver</button>
  </div>

  <div class="form">
    <div [formGroup]="formProducto" class="formInfo">

      <h2>Informacion de producto</h2>

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Codigo de producto</mat-label>
        <input matInput required formControlName="idCatalogo" (keydown.enter)="findByCodeProduct()">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker>
        <mat-label>Auxiliar</mat-label>
        <input matInput required formControlName="auxiliar">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker>
        <mat-label>Denominación</mat-label>
        <input matInput required formControlName="denominacion">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput required formControlName="nombre">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Descripción</mat-label>
        <input matInput required formControlName="descripcion">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker>
        <mat-label>Unidad de medida</mat-label>
        <input matInput [matAutocomplete]="unitM" appearance="fill" formControlName="idUnidadMe"
          (input)="findTipoMedidaByName()">
        <mat-autocomplete #unitM='matAutocomplete'>

          <mat-option *ngFor="let unidadMedida of unidadMedidaList" [value]="unidadMedida.descripcion">
            {{unidadMedida.descripcion}}
          </mat-option>

        </mat-autocomplete>
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker>
        <mat-label>Tipo de Articulo</mat-label>
        <input matInput [matAutocomplete]="tipoP" appearance="fill" formControlName="idTipoArt"
          (input)="findTipoProductoByName()">
        <mat-autocomplete #tipoP='matAutocomplete'>

          <mat-option *ngFor="let tipoProducto of tipoProductoList" [value]="tipoProducto.nombre">
            {{tipoProducto.nombre}}
          </mat-option>

        </mat-autocomplete>
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>&nbsp;

      
      <mat-form-field hideRequiredMarker>
        <mat-label>Tipo de almacen</mat-label>
        <input matInput [matAutocomplete]="Talm" appearance="fill" formControlName="idTipoAlmacen"
          (input)="findTipoAlmacenByName()">
        <mat-autocomplete #Talm='matAutocomplete'>

          <mat-option *ngFor="let tipoAlmacen of tipoAlmacenList" [value]="tipoAlmacen.nombre">
            {{tipoAlmacen.nombre}}
          </mat-option>

        </mat-autocomplete>
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker>
        <mat-label>ITBIS</mat-label>
        <mat-select required appearance="fill" formControlName="itbis">
          <mat-option value=0>Exento</mat-option>
          <mat-option value=16>16%</mat-option>
          <mat-option value=18>18%</mat-option>
        </mat-select>
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker>
        <mat-label>Precio</mat-label>
        <input type="number" matInput required formControlName="precio">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker>
        <mat-label>Cantidad minima requerida</mat-label>
        <input type="number" matInput required formControlName="stockMinimo">
      </mat-form-field>&nbsp;

      <span class="btnContainer">
        <button class="btnSend" mat-raised-button (click)="sendData()">
          <mat-icon>send</mat-icon>Enviar
        </button>
      </span>
    </div>
  </div>

</div>
