<div class="appWrapper">

  <mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="sidenavOpened">
      <div class="logoAlmacenContainer">
        <img class="logoAlmacen" src="../../../../assets/SIGEBILogoBlancoPeq.png" alt="Sistema de gestión de bienes">
      </div>

      <div class="almacenOptions">

        <a class="item-menu" [routerLink]="['/user-almacen/inicio']" routerLinkActive="active">
          <mat-icon>home</mat-icon>Inicio
        </a>
        <a class="item-menu" [routerLink]="['/user-almacen/administrar-entrada']" routerLinkActive="active">
          <mat-icon>add_box</mat-icon>Entradas
        </a>
        <a class="item-menu" [routerLink]="['/user-almacen/administrar-salida']" routerLinkActive="active">
          <mat-icon>indeterminate_check_box</mat-icon>Salidas
        </a>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="componentsContent">
        <mat-toolbar class="navbar">

          <div class="btnMenuContainer">
            <button class="btnMenu" (click)="sidenavOpened = !sidenavOpened"><mat-icon>menu</mat-icon></button>&nbsp;
            <h2 class="recinto">{{recinto$ | async}}</h2>
          </div>

          <div class="logout">
            <h3 class="userName">{{userName$ | async}}</h3> &nbsp;
            <button class="closeAccount" [matMenuTriggerFor]="menu"></button>
            <mat-menu #menu="matMenu">
              <div mat-menu-item class="profile">
                <mat-icon>person</mat-icon>
                <span>{{userName$ | async }}</span>
                <br>
                <span class="email">{{userEmail$ | async }}</span>
              </div>
              <button mat-menu-item (click)="logOut()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Cerrar sesion</span>
              </button>
            </mat-menu>
          </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>

