<div class="modal">
  <h2 class="modal-title" mat-dialog-title> Editar Proveedor </h2>
  <mat-dialog-content class="modal-content">
    <form [formGroup]="formEditProveedor" class="formInfo">

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>RNC</mat-label>
        <input matInput required formControlName="rnc" (keydown.enter)="findByRNC()">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker>
        <mat-label>Razon social</mat-label>
        <input matInput [matAutocomplete]="auto" appearance="fill" formControlName="razonSocial" (keydown.enter)="findByName()">
        <mat-autocomplete #auto='matAutocomplete' (optionSelected)="setValueformEditProveedores($event.option.value)">

          <mat-option *ngFor="let option of filterOptions" [value]="option.razonSocial">
            {{option.razonSocial}}
          </mat-option>

        </mat-autocomplete>
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Nombre Comercial</mat-label>
        <input matInput required formControlName="nombreComercial">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Representante</mat-label>
        <input matInput required formControlName="representante">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Contacto</mat-label>
        <input matInput required formControlName="telRepresentante">
      </mat-form-field>&nbsp;

    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="form-actions">
    <button mat-stroked-button class="btnCancel" (click)="closeModal()">Cancelar</button>
    <button mat-stroked-button class="btnSend" (click)="editData()"><mat-icon>send</mat-icon>Enviar</button>
  </mat-dialog-actions>
</div>
