<div class="appWrapper">


  <mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="opened">
      <div class="logoAlmacen">
        LogoAlmacen
      </div>
      <div class="almacenOptions">
        <span>
        <a [routerLink]="['/almacen/entrada']">Entradas</a>
        </span>
        <a [routerLink]="['/almacen/salida']">Salidas</a>
        <a [routerLink]="['/almacen/productos']">Productos</a>
        <a [routerLink]="['/almacen/proveedores']">Proveeedores</a>
        <a [routerLink]="['/almacen/reportes']">Reportes</a>
        <a [routerLink]="['/almacen/configuraciones']">configuraciones</a>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="componentsContent">
        <mat-toolbar class="navbar">

          <button mat-raised-button (click)="opened = !opened"><mat-icon>menu</mat-icon></button>

          <div class="logout">
            <span>Hola Persona</span> &nbsp;
            <span>Cerrar Seccion</span>
          </div>
        </mat-toolbar>

        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
