/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', "Helvetica Neue", sans-serif; }

/* ------------------------------------------------------------------*/
/* ------------------------------------------------------------------*/

h1{
  margin: 0 !important;
}

.btnDelete{
  color:red;
}

.btnSend{
  color: white !important;
  background-color: #004b8d !important;
}

.btnNavigate{
  font-weight: 400;
}

.btnContainer{
  display: flex;
  justify-content: flex-end;
}


/* ------------------------------------------------------------------*/
/* ------------------------------------------------------------------*/
/*
.rowTable:nth-child(even) {
  background-color: rgb(0, 250, 250);
}

.rowTable:nth-child(even):hover {
  background-color: rgb(0, 250, 250);
}

.entryTable{
  margin-top: 20px;
}
*/
/*
.entryTable {
  margin-top: 30px;
}

.entryTable .headTable{
  background-color: #C7D1EA;
}

.entryTable .footerTable{
  background-color: rgb(250, 250, 250);
}

.entryTable .footerTable:hover{
  background-color: rgb(250, 250, 250);
}
*/
/* ------------------------------------------------------------------*/
/* ------------------------------------------------------------------*/

.viewContent{
  display: grid;
  grid-template-rows: 8vh auto;
  padding: 16px;
}

.title{
  padding: 0px;
}

.fuctionContent {
  display: flex;
  justify-content: space-between;
}

.formInfo{
  border: 1px solid #ccc;
  padding: 15px;
  margin-top:20px;
}

.formInfo h2{
  font-weight: 400;
  font-size: 18px;
}

.formInfo mat-form-field{
  width: 24%;
}


table{
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.headerTable{
  height: 6vh;
}

.headerCell{
  text-align: start;
  font-weight: 500;
  padding-left: 15px;
}

.headerRow{
  background-color: #C7D1EA;
}

.dataCell{
  border-top: 1px solid #ccc;
  padding-left: 15px;
}

.dataRow{
  height: 5vh;
}

.dataRow:nth-child(even) {
  background-color: rgb(245, 245, 245);
}

.fuctionCell{
  width: 60px;
}

.fucEdit, .fucRem, .fucSend{
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  color: green;
}
.fucEdit, .fucRem, .fucSend:hover{
  cursor: pointer;
}

.fucRem{
  color: red;
}

.footerCell{
  height: 6vh;
  border-top: 2px solid #C7D1EA;
  border-bottom: 2px solid #C7D1EA;
  padding-left: 15px;
}

.fucSend{
  color: #004b8d;
}

.reporteHeader{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  background-color:#C7D1EA;
  padding: 15px;
  min-height: 60px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.tableReporte{
  margin-top: 0px;
}

.itemReporte{
  font-weight: 500;
}
