/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', "Helvetica Neue", sans-serif;
}

/* ------------------------------------------------------------------*/
/* ------------------------------------------------------------------*/

h1 {
  margin: 0 !important;
}

.btnDelete {
  color: red;
}

.btnImprimir {
  display: flex !important;
  align-items: center !important;
  background-color: #49aa42 !important;
}

.printIcon {
  margin-left: 10px !important;
  font-size: 20px !important;
  color: white;
}

.btnSend {
  color: white !important;
  background-color: #004b8d !important;
}

.titleLogIn {
  font-weight: 400 !important;
  font-size: 30px !important;
}

.logoAlmacen {
  width: 80% !important;
}

.btnNavigate {
  background-color: #49aa42 !important;
  color: white !important;
  font-weight: 300;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
}

.profile {
  height: 75px !important;
  cursor: auto !important;
  border-bottom: 1px solid #ccc !important;
}

.profile:hover {
  background-color: white !important;
}

.email {
  font-weight: 500;
}

.viewContent {
  display: grid;
  grid-template-rows: 8vh auto;
  padding: 16px;
}

.viewInitContent {
  padding: 16px;
}

.title {
  padding: 0px;
}

.fuctionContent {
  display: flex;
  justify-content: space-between;
}

.formInfo {
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.formInfo h2 {
  font-weight: 400;
  font-size: 18px;
}

.formInfo mat-form-field {
  width: 24%;
}


table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.headerTable {
  height: 6vh;
}

.headerCell {
  text-align: start;
  font-weight: 500;
  padding-left: 15px;
}

.headerRow {
  background-color: #004b8d2a;
}

.headerRepRow {
  background-color: #ddd;
}

.dataCell {
  border-top: 1px solid #ccc;
  padding-left: 15px;
}

.dataRow {
  height: 6vh;
}

.dataRow:nth-child(even) {
  background-color: rgb(245, 245, 245);
}

.noDataRow {
  display: grid;
  place-items: center;
  height: 10vh;
  background-color: #eee;
}

.loadingRow {
  display: grid;
  place-items: center;
  height: 20vh;
}

.noDataRow .msNoData {
  font-weight: 300;
}

.noDataIcon {
  color: red;
  font-size: 26px;
}

.fuctionCell {
  width: 60px;
}

.NoItems {
  margin: 0 !important;
  font-weight: 300;
}

.fucEdit,
.fucRem,
.fucSend,
.fucDetails {
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  color: green;
}

.fucEdit,
.fucDetails,
.fucRem,
.fucSend:hover {
  cursor: pointer;
}

.fucRem {
  color: red;
}

.fucDetails {
  color: #004b8d;
}

.footerCell {
  height: 6vh;
  border-top: 2px solid #004b8d2a;
  border-bottom: 2px solid #004b8d2a;
  padding-left: 15px;
}


.fucSend {
  color: #004b8d;
}

#reporteHeader {
  display: grid;
  grid-template-rows: 8vh 8vh 12vh auto;
  min-height: 60px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: solid 1px #ccc;
}

.entradaReporteTitle {
  grid-row: 1/2;
  display: flex;
  align-items: center;
  background-color: #004b8d2a;
  padding: 0px 16px;
}

.entradaReporteSubtitle {
  box-sizing: border-box;
  display: grid;
  grid-row: 2/3;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  padding: 0px 16px;
  align-items: center;
  border-bottom: solid 1px #ccc;
  border-top: none;
}

.entradaReporteSubtitle h3 {
  margin: 0;
}

.entradaReporteSubtitle:last-child {
  border-right: none;
}

.entradaReporteDetalle {
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px 16px;
  box-sizing: border-box;
}

.entradaReporteDetalle span {
  display: flex;
  align-items: center;
}

.observacionReporte {
  border-top: #ccc solid 1px;
  grid-row: 4/5;
  padding: 15px 16px 0px 16px;
  text-align: justify;
}

.itemReporte {
  font-weight: 500;
}

.modal {
  width: 750px;
}

.modal-title {
  font-weight: 400 !important;
  padding: 5px 24px !important;
}

.modal-content {
  padding: 0px 16px;
}

.logout {
  display: flex;
  align-items: center;
  text-align: end;
}

.logoAlmacenContainer {
  display: grid;
  place-items: center;
  height: 9vh;
  background-color: #004b8d;
  color: white;
}

.almacenOptions {
  height: 91vh;
  background-color: #004b8d;
}

.submenu {
  width: 153px;
  padding-left: 30px;
}

.menuSubmenu {
  width: 123px;
  padding-left: 20px;
}

.btnAdd {
  color: #004b8d !important;
}

.btnClear {
  color: rgba(200, 10, 10, 0.918) !important;
}

.newPro {
  background-color: #49aa42 !important;
  color: white !important;
  font-weight: 300;
}

.item-menu {
  width: 183px;
  height: 40px;
  display: grid;
  grid-template-columns: 30px 153px;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: white;
  padding-left: 16px;
}

.item-submenu {
  width: 153px;
  height: 35px;
  padding-left: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
}

.item-submenux {
  width: 141px;
  height: 35px;
  padding-left: 8px;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 200px;
}

.componentsContent {
  width: 100%;
  height: 100vh;
}

.navbar {
  height: 9vh;
  justify-content: space-between;
  background-color: #fff;
  box-sizing: border-box;
  border-top: 1px solid #49aa42;
  border-bottom: 1px solid #49aa42;
}

.btnMenuContainer {
  display: flex;
}


.btnMenuContainer .btnMenu {
  background-color: transparent;
  border: none;
}


.btnMenuContainer .recinto {
  font-weight: 300;
  margin: 0;
}

.logout .userName {
  font-weight: 300;
  margin: 0;
}

.logout .closeAccount {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: 1px solid #aaa;
  font-size: 20px;
}

.almacenOptions mat-icon {
  font-weight: 300;
  font-size: 21px;
}

.active {
  background-color: #49aa42;
}

.pagination {
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: center;
  border-top: 2px solid #004b8d2a;
  border-bottom: 2px solid #004b8d2a;
}

.btnPag {
  margin: 0px 15px;
  width: 50px;
  border: none;
  background-color: transparent;
}

.btnPag:hover {
  cursor: pointer;
}

.emailSupInmediato {
  font-weight: 300;
  color: #999;
}

.fuctionContentInicial {
  display: flex;
  height: 4vh;
  margin-top: 1vh;
  align-items: center;
  justify-content: space-between;
}

.alertNote {
  background-color: rgb(255, 73, 73);
  border: red 1px solid;
  text-align: center;
  padding: 0px 10px;
  border-radius: 5px;
  color: white;
}

.processTranfer, .recieveTransfer, .sendTransfer {
  display: grid;
  height: 8vh;
  align-items: center;
  grid-template-columns: 200px 1fr 50px 50px;
  border-radius: 5px;
  padding: 0px 16px;
  background-color: #49aa4265;
  border: 1px solid green;
  margin-bottom: 10px;
}

.sendTransfer {
  background-color: rgba(255, 0, 0, 0.26);
  border: 1px solid red
}

.processTranfer {
  background-color: #ddd;
  border: 1px solid #999
}

.acceptTransfer {
  background-color: white !important;
}

.recieveTransfer h4,
.recieveTransfer h3,
.sendTransfer h4,
.sendTransfer h3,
.processTranfer h3,
.processTranfer h4 {
  margin: 0;
}

.sendTransfer h3,
.recieveTransfer h3 {
  max-width: 98px;
  max-height: 48px;
  text-align: center;
  background-color: white;
  padding: 4px;
  border-radius: 5px;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 140px;
  height: 30px;
  box-shadow: 0 3px 0 gray;
  --g: repeat-x repeating-linear-gradient(90deg, #D2B48C 0 20px, #0000 0 18px, #D2B48C 0 34px, #0000 0 100%);
  background: var(--g), var(--g);
  background-size: 60px 14px, 60px 14px;
  animation: l8 1s infinite linear;
}

@keyframes l8 {
  0% {
    background-position: 0 0, 0 100%
  }

  100% {
    background-position: 60px 0, 60px 100%
  }
}