<div class="appWrapper">

  <mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="sidenavOpened">
      <div class="logoAlmacen">
        LOGO_ALMACEN
      </div>

      <div class="almacenOptions">
        <a class="item-menu" [routerLink]="['/admin-almacen/administrar-entrada']"><mat-icon>add_box</mat-icon>Entradas</a>
        <a class="item-menu" [routerLink]="['/admin-almacen/administrar-salida']"><mat-icon>indeterminate_check_box</mat-icon>Salidas</a>
        <a class="item-menu" [routerLink]="['/admin-almacen/administrar-producto']"><mat-icon>category</mat-icon>Productos</a>
        <a class="item-menu" [routerLink]="['/admin-almacen/administrar-proveedores']"><mat-icon>local_shipping</mat-icon>Proveeedores</a>
        <a class="item-menu" [routerLink]="['/admin-almacen/administrar-usuarios']"><mat-icon>person</mat-icon>Usuarios</a>
        <a class="item-menu" (click)="toggleSubmenu()"><mat-icon>summarize</mat-icon>Reportes</a>
        <div class="submenu" *ngIf="submenu else submenuClosed">
          <a class="item-submenu" [routerLink]="['/admin-almacen/reporteEntrada']">Entrada</a>
          <a class="item-submenu" [routerLink]="['/admin-almacen/reporteSalida']">Salida</a>
          <a class="item-submenu" [routerLink]="['/admin-almacen/reporteInventario']">Inventario</a>
          <a class="item-submenu" [routerLink]="['/admin-almacen/reporteProveedor']">Proveedor</a>
        </div>
        <ng-template #submenuClosed></ng-template>
        <a class="item-menu" (click)="toggleSubmenuConfig()" ><mat-icon>settings</mat-icon>Configuraciones</a>
        <div class="submenu" *ngIf="submenuConfig else submenuClosedConfig">
          <a class="item-submenu" [routerLink]="['/admin-almacen/administrar-tipo-almacen']">Tipo de almacen</a>
          <a class="item-submenu" [routerLink]="['/admin-almacen/administrar-tipo-entrada']">Tipo de entrada</a>
          <a class="item-submenu" [routerLink]="['/admin-almacen/administrar-tipo-medida']">Unidad de medida</a>
          <a class="item-submenu" [routerLink]="['/admin-almacen/administrar-tipo-salida']">Tipo de salida</a>
          <a class="item-submenu" [routerLink]="['/admin-almacen/administrar-tipo-producto']">Tipo de producto</a>
          <a class="item-submenu" [routerLink]="['/admin-almacen/administrar-tipo-entrega']">Tipo de entrega</a>
        </div>
        <ng-template #submenuClosedConfig></ng-template>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="componentsContent">
        <mat-toolbar class="navbar">

          <div class="btnMenuContainer">
            <button class="btnMenu" (click)="sidenavOpened = !sidenavOpened"><mat-icon>menu</mat-icon></button>&nbsp;
            <h2 class="recinto">FEM</h2>
          </div>

          <div class="logout">
            <h3 class="userName">Biemvenido Usuario</h3> &nbsp;
            <button class="closeAccount"></button>
          </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
