<div class="appWrapper">


  <mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="sidenavOpened">
      <div class="logoAlmacen">
        LogoAlmacen
      </div>

      <div class="almacenOptions">
        <a class="item-menu" [routerLink]="['/admin-almacen/entrada']">Entradas</a>
        <a class="item-menu" [routerLink]="['/admin-almacen/salida']">Salidas</a>
        <a class="item-menu" [routerLink]="['/admin-almacen/productos']">Productos</a>
        <a class="item-menu" [routerLink]="['/admin-almacen/proveedores']">Proveeedores</a>
        <a class="item-menu" (click)="toggleSubmenu()">Reportes</a>
        <div class="submenu" *ngIf="submenu else submenuClosed">
          <a class="item-submenu" [routerLink]="['/admin-almacen/reportes']">Inventario Existente</a>
          <a class="item-submenu" [routerLink]="['/admin-almacen/reportes']">Entrada</a>
          <a class="item-submenu" [routerLink]="['/admin-almacen/reportes']">Salida</a>
        </div>
        <ng-template #submenuClosed></ng-template>
        <a class="item-menu" (click)="toggleSubmenuConfig()" >configuraciones</a>
        <div class="submenu" *ngIf="submenuConfig else submenuClosedConfig">
          <a class="item-submenu" [routerLink]="['/admin-almacen/unidad-medida']">Unidad de medida</a>
          <a class="item-submenu" [routerLink]="['/admin-almacen/tipo-entrada']">Tipo de entrada</a>
          <a class="item-submenu" [routerLink]="['/admin-almacen/tipo-salida']">Tipo de salida</a>
          <a class="item-submenu" [routerLink]="['/admin-almacen/tipo-producto']">Tipo de producto</a>
          <a class="item-submenu" [routerLink]="['/admin-almacen/tipo-entrega']">Tipo de entrega</a>
        </div>
        <ng-template #submenuClosedConfig></ng-template>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="componentsContent">
        <mat-toolbar class="navbar">

          <button mat-raised-button (click)="sidenavOpened = !sidenavOpened"><mat-icon>menu</mat-icon></button>

          <div class="logout">
            <span>Hola Persona</span> &nbsp;
            <span>Cerrar Seccion</span>
          </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
