.reporteEntradaContent {
  display: grid;
  grid-template-rows: 8vh auto;
  min-height: 40vh;
  padding: 16px;
}

.fuctionContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-paginator{
  border-top: 1px solid #ccc;
}

