<div class="viewInitContent">
<div class="stadsContainer">

    <div class="stadsEntradaSalida">
      <!--
      <iframe title="Report Section" width="1100" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiMWFlMDA4MWMtODYxMS00MDk2LWIxNDAtZmFlNTljN2VkYzk0IiwidCI6IjI4Y2MwYzZmLWUzMDMtNDU2OC05NmY1LWQ4OGQwOTJmZDgzNSIsImMiOjF9" frameborder="0" allowFullScreen="true"></iframe>
      -->
    </div>

    <div class="stadsExistencia">
      <div class="fuctionContent">
        <h1>Existencia</h1>
        <button mat-raised-button class="btnNavigate">Ver más</button>
      </div>

    </div>

    <div class="stadsMoviminetos">
      <div class="fuctionContent">
        <h1>Movimientos</h1>
        <button mat-raised-button class="btnNavigate">Ver más</button>
      </div>

    </div>
  </div>
</div>
