<div class="viewInitContent">
<div class="stadsContainer">

    <div class="stadsEntradaSalida">

      <div>
        Entradas
        salidas
      </div>

    </div>

    <div class="stadsExistencia">
      <div class="fuctionContent">
        <h1>Existencia</h1>
        <button mat-raised-button class="btnNavigate">Ver más</button>
      </div>

    </div>

    <div class="stadsMoviminetos">
      <div class="fuctionContent">
        <h1>Movimientos</h1>
        <button mat-raised-button class="btnNavigate">Ver más</button>
      </div>

    </div>
  </div>
</div>
